<section class="section-modals custom-scroll" id="depth-2">
  <div class="container">
    <div class="content-scrolling custom-content-scroll">
      <h2>Calm energy, <br>Mental clarity & <br>Stress resilience<br><br><i>To support you through your days</i></h2>
      <p>
        Herbalists in China and India discovered the answer more than 5,000 years ago.</p>
      <p>
        Using special combinations of adaptogens — herbs that help your body adapt to stress — these ancient masters cracked the code on stable energy without side effects. 
      </p>
      <p>
          We’ve taken inspiration from these ancient traditions to create Rasa, the only herbal coffee alternatives that offer functional benefits, drawing on Indian, Chinese, & Western herbal wisdom. 
      </p>
      <p>
        Learn more about the Rasa herbs! Our coffee substitute ingredients are:
   
      </p>
    </div>

    <div class="content-parallax">
      <div class="herbs">
        {% include 'narrative-2.1' %}
        {% include 'narrative-2.2' %}
        {% include 'narrative-2.3' %}
      </div>
      <div class="herbs-colored">
        <span class="modal-trigger codonopsis" data-modal-trigger="codonopsis"><img src="{{ 'codonopsis-colored@2x.png' | asset_url }}" alt="codonopsis"><span class="label">codonopsis</span></span>
        <span class="modal-trigger reishi" data-modal-trigger="reishi"><img src="{{ 'reishi-colored@2x.png' | asset_url }}" alt="reishi"><span class="label">reishi</span></span>
        <span class="modal-trigger rhodiola" data-modal-trigger="rhodiola"><img src="{{ 'rhodiola-colored@2x.png' | asset_url }}" alt="rhodiola"><span class="label">rhodiola</span></span>
        <span class="modal-trigger ashwagandha" data-modal-trigger="ashwagandha"><img src="{{ 'ashwagandha-colored@2x.png' | asset_url }}" alt="ashwagandha"><span class="label">ashwagandha</span></span>
        <span class="modal-trigger dandelion-root" data-modal-trigger="dandelionroot"><img src="{{ 'dandelion-root-colored@2x.png' | asset_url }}" alt="dandelion root"><span class="label">dandelion root</span></span>
        <span class="modal-trigger he-shou-wu" data-modal-trigger="heshouwu"><img src="{{ 'he-shou-wu-colored@2x.png' | asset_url }}" alt="he-shou-wu"><span class="label">he-shou-wu</span></span>
        <span class="modal-trigger chaga" data-modal-trigger="chaga"><img src="{{ 'chaga-colored@2x.png' | asset_url }}" alt="chaga"><span class="label">chaga</span></span>
        <span class="modal-trigger burdock-root" data-modal-trigger="burdockroot"><img src="{{ 'burdock-root-colored@2x.png' | asset_url }}" alt="burdock root"><span class="label">burdock root</span></span>
        <span class="modal-trigger eleuthero" data-modal-trigger="eleuthero" data-modal-trigger="eleuthero"><img src="{{ 'eleuthero-colored@2x.png' | asset_url }}" alt="eleuthero"><span class="label">eleuthero</span></span>
        <span class="modal-trigger chicory-root" data-modal-trigger="chicoryroot"><img src="{{ 'chicory-root-colored@2x.png' | asset_url }}" alt="chicory root"><span class="label">chicory root</span></span>
        <span class="modal-trigger cinnamon" data-modal-trigger="cinnamon"><img src="{{ 'cinnamon-colored@2x.png' | asset_url }}" alt="cinnamon"><span class="label">cinnamon</span></span>
        <span class="modal-trigger shatavari" data-modal-trigger="shatavari"><img src="{{ 'shatavari-colored@2x.png' | asset_url }}" alt="shatavari"><span class="label">shatavari</span></span>
      </div>
    </div>
  </div>
</section>