{%- comment %}<locksmith:4dc9>{% endcomment -%}
  {%- assign locksmith_79c9_product__available = false %}{% assign locksmith_79c9_product__first_available_variant = nil %}{% assign locksmith_79c9_product__selected_variant = nil %}{% assign locksmith_79c9_product__price = nil %}{% assign locksmith_79c9_product__price_min = nil %}{% assign locksmith_79c9_product__price_max = nil %}{% assign locksmith_79c9_product__price_varies = false %}{% assign locksmith_79c9_product__compare_at_price = nil %}{% for variant in product.variants %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: variant, locksmith_subject_parent: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: variant, locksmith_subject_parent: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}{% if locksmith_79c9_product__available == false and variant.available %}{% assign locksmith_79c9_product__available = true %}{% endif %}{% if locksmith_79c9_product__first_available_variant == nil and variant.available %}{% assign locksmith_79c9_product__first_available_variant = variant %}{% endif %}{% if locksmith_79c9_product__selected_variant == nil and variant.selected %}{% assign locksmith_79c9_product__selected_variant = variant %}{% endif %}{% if variant == product.selected_or_first_available_variant %}{% assign locksmith_79c9_product__selected_or_first_available_variant = product.selected_or_first_available_variant %}{% endif %}{% if locksmith_79c9_product__price == nil %}{% assign locksmith_79c9_product__price = variant.price %}{% endif %}{% if locksmith_79c9_product__price_min == nil or variant.price < locksmith_79c9_product__price_min %}{% assign locksmith_79c9_product__price_min = variant.price %}{% endif %}{% if locksmith_79c9_product__price_max == nil or locksmith_79c9_product__price_max < variant.price %}{% assign locksmith_79c9_product__price_max = variant.price %}{% endif %}{% if locksmith_79c9_product__compare_at_price == nil %}{% assign locksmith_79c9_product__compare_at_price = variant.compare_at_price %}{% endif %}{% endfor %}{% if locksmith_79c9_product__selected_or_first_available_variant == nil %}{% assign locksmith_79c9_product__selected_or_first_available_variant = locksmith_79c9_product__first_available_variant %}{% endif %}{% if locksmith_79c9_product__price_min != locksmith_79c9_product__price_max %}{% assign locksmith_79c9_product__price_varies = true %}{% endif -%}
{%- comment %}</locksmith:4dc9>{% endcomment -%}

<td class="shop-item-home">
  <a href="{{ product.url | within: collection }}">
    <figure><img src="{{ product | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" /></figure>
    <div class="wholesale-title-block">
      <h2>{{ product.title }}</h2>
      <!--<p class="product-tagline">

        {% if product.handle == "whole-rasa-koffee-ul-li-8-oz" %}
         
        {% elsif product.handle == "ground-rasa-koffee-ul-li-8-oz" %}
         
        {% endif %}
      </p>-->
    </div>
  </a>
</td>
<td class="shop-item-price">
  <h4>Wholesale</h4>
  <span class="item-meta">
    <span class="price product-{{product.id}}">
      {% if locksmith_79c9_product__price_varies %}From {% endif %}{{ locksmith_79c9_product__price | money }}{% if on_sale %}
      <s class="compare-at-price">{{ locksmith_79c9_product__compare_at_price | money }}</s>
      {% endif %}
    </span>
  </span>
</td>
<td class="shop-item-buy">

    
<form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data" id="AddToCartForm"> 
{% if locksmith_79c9_product__available %}{% include 'subscription-product' %}{% endif %} 
	  <div class="product-single-picker">   
          <div class="product-single__quantity">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
          </div>
          <div class="product-variants">
            <select name="id" data-productid="{{product.id }}" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
              {%- comment %}<locksmith:cc26>{% endcomment -%}
                {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: variant, locksmith_subject_parent: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:cc26>{% endcomment -%}
              {% if variant.available %}

              <option {% if variant == locksmith_79c9_product__selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
              {% endif %}
              {% endfor %}
            </select>
        </div>
      </div>
      <div class="product-submit">
        <button type="submit" name="add" id="AddToCart" class="btn">
          <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </button>
      </div>
</form>
    
</td>