<style>
  .nav-main ul {
    min-width: 54%;
  }

  .contactus-option {
    padding: .75em 1.25em .75em 0;
  }

  .contactus-option--value {
    text-indent: 0;
  }
  .menu-drawer-overlay-custom {
    width: 100%;
  }
  .container.nav-cont {
    display: flex;
  }
  p.up-cart-quant {
    cursor: pointer;
  }
  .contactus-option--icon {
    width: 20px;
    height: 20px;
  }
  .cart_drawer_items .quantity-box-cus {
    display: flex;
    align-items: center;
  }

  .contactus-option img {
    width: 20px;
  }
  .cart_drawer_items .quantity-box-cus p.up-cart-quant {
    padding-left: 11px;
  }

  .contactus-options li:nth-child(4) .contactus-option--icon, .contactus-options li:nth-child(3) .contactus-option--icon {
    margin-top: 0;
  }

  .contactus-button {
    background-color: rgba(0,0,0,.215);
    transition: all .3s;
  }

  .contactus-button:hover {
    background-color: rgba(0,0,0,.315);
  }
  .header-search-bar.desktop-version-hide {
    display: none;
  }


  body.cart-open {
    left: -365px;

  }
  .logo-div-custom {
    display: block;
    width: 30%;
  }
  .cart_drawer_main {
    position: fixed;    
    top: 0;
    right: -390px;
    bottom: 0;
    left: 0;
    z-index: 9999;
    transition: .4s all;
    visibility:hidden;
  }
  .cart_drawer_main.drawer-open {
    visibility:visible;    
    right: -25px;  
    background: rgba(0,0,0,0.8);
  }
  .cart_drawer {
    max-width: 390px;
    width:100%;
    background: #fff;
    padding: 30px;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .slideshow-item.cart_drawer_open .site-box-background-container {
    right: 425px !important;
  }
  /* .cart_drawer {
  width: 450px;
  position: fixed;
  top: 0;    
  z-index: 11;
  background: #fff;
  bottom: 0;
  margin: auto;
  padding:50px;
  transition: .4s all;
  border-left: 1px solid #000;
  overflow-y:scroll;
  } */
  .cart_drawer a.cart_drawer_close {
    display: inline-block;
    float: right;
    font-size: 34px;
    line-height: 16px;
  }
  .cart-quant {
    border: 1px solid #aeaeae !important;
  }
  .cart_drawer h2.cart_drawer_title {
    display: inline-block;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 22px;
  }
  .cart_drawer p {
    margin: 0;
    color: #000;
    letter-spacing: 1px;
  }
  .cart_drawer p.item_count {
    font-size: 17px;
    padding: 35px 0;
  } 
  .cart_drawer_items .cart_item {
    padding-top: 20px;
  } 
  .cart_drawer_items .item_img {
    width: 20%;
    display: inline-block;
  }
  .cart_drawer_items h3.item_title {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 0 5px 0 15px;
    font-size: 17px;
    letter-spacing: 0;
    margin: 0;
  }
  .cart_drawer_items h3.item_title p {
    display: block;
    font-weight: normal;
    font-size: 22px;
    padding-top:5px;

  }
  .cart_drawer_items .cart_item {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
  }

  div#cart_drawer  .cart_total_price .cart_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cart_drawer input.cart-quant {
    margin-top: 5px;
    width: 101px;
    height: 20px;
    border-radius: 0;
  }
  div#cart_drawer .cart_drawer .cart_drawer_btns a {
    width: 100%;
  }
  .cart_drawer_items p.item_qty {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    padding-top:10px;
  }
  .cart_drawer p.cart_price span {
    font-size: 24px;
  }
  vvvvvvv    width: 100%;
  padding: 25px 0;
  } 
  .cart_drawer .cart-note__input {
    min-height: 130px;
    width: 100%;
    background: #ededed;
    resize: none;
    border: transparent;
    color: #000;
    font-size: 15px;
  }
  .cart_drawer .cart_drawer_btns a {
    display: inline-block;
    padding: 13px 25px;
    font-size: 15px;
    text-align: center;
    margin: 10px 10px 0 0px;
    letter-spacing: 1px;
  }
  .cart_total_price .cart_price p {
    display: inline-block;
  } 
  .cart_total_price .cart_price h3 {
    margin: 0;
    color: #000;
    letter-spacing: 1px;
    display: inline-block;
    font-size:24px;
  } 
  .cart_drawer  .cart_total_price {
    padding: 30px 0;
  }  

  .mobile-cart{
    display:none;
  }
  .cart_drawer input.cart-quant{ margin-top:20px;}



  /********** menu drawer **********/
  .nav_trigger {
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    margin: 5px 20px 0 50px;
    float:right;
  }
  body.show_sidebar .nav_trigger {
    margin-right: 5px;
  }
  #push_sidebar {
    background: #fff;
    border-left: 0;
    bottom: 0;
    color: #313e41;
    left: -301px;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 25%;
    z-index: 11;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }


  #wrapper {
    margin-right: 0;
    min-height: 1000px;
    overflow: hidden;
    width: 100%;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.show_sidebar #wrapper {
    margin-right: 25%;
    width: 75%;
  }





  /***********************************/

  #push_sidebar li a {
    padding: 10px 15px 10px 5px;
    display: block;
    font: 13px "Muli", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    background: transparent;
    color: #313e41;
    text-decoration: none;
    border-bottom: 1px solid #f2f2f2;
    text-transform: uppercase;
  }
  #push_sidebar li a:hover {
    background-color: transparent;
    color:#313e41
  }
  #push_sidebar li a .fa {
    font-size: 19px;
    float: right;
    width: 30px;
    text-align: center;
    margin-left: 5px;
  }
  section#news .archive-posts {
    display: flex;
    flex-wrap: wrap;
  }
  a.menu-drwer-close {
    color: #17a7a1;
    float: right;
    text-align: right;
    margin-top: -45px;
    padding-right: 20px;
    margin-bottom: 16px;
  }
  a.menu-drwer-close {
    font-size: 45px;
    display: none;
  }
  body .header-search-bar form input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    width: 35px;
    visibility: visible;
    z-index: 2;
    background: transparent !important;
    border: 0;
    font-size: 0;
    outline:0 !important
  }
  /********* Start media quaeries ********/

  @media (min-width: 992px) {
    #push_sidebar {
      width: 300px;
    }
    body.show_sidebar #push_sidebar {
      left: 300px;
    }
    body.show_sidebar #wrapper {
      margin-right:0;
      width: 100%;
    }	
  }

  @media (max-width: 768px) {
    .hero-homepage figure img.hero-slide-1 {
      object-fit: cover;
      height: 100%;
      margin-bottom: 13px !important;
    }
    body#rasa-coffee-substitute-faq-everything-almost-you-want-to-know .page-nav.is-fixed {
      top: 65px;
    }
    .blog-nav .archive-tags a {
      display: inline-block;
      margin: 0 16px;
      padding: 8px 0;
    }
    body #nav-trigger span:before {
      top: -8px;
    }
    body #nav-trigger span:after {
      bottom: -8px;
    }
    body  #nav-trigger span,body  #nav-trigger span:before, body #nav-trigger span:after {
      cursor: pointer;
      height: 3px;
      width: 28px;
      border-radius: 4px;
      background: #17a7a1;
      position: absolute;
      display: block;
      content: '';
      transition: all 500ms ease-in-out;
    }
    body {
      margin-top: 3.7em;
    }
    .nav-main .container.nav-cont {
      margin-top: 7px;
    }
    .mobile-cart {
      display: block;
      position: absolute;
      height: 30px;
      line-height: 30px;
      padding: 0 0.66667em;
      top: 4px;
      right: 2.7em;
      font-size: 18px !important;
    }
    .hero-homepage figure {
      margin-bottom: 13px;
    }
    .header-search-bar.desktop-version-hide {
      display: block;
    }
    .header-search-bar.desktop-version-hide form {
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
    }
    .header-search-bar.desktop-version-hide form input[type="text"] {
      color: #000;
      border-bottom: 2px solid #f2f2f2;
      padding-right: 46px;
    }
    .header-search-bar form input[type="submit"] {
      position: absolute;
      right: 0;
      top: 0;
      height: 35px;
      width: 35px;
      visibility: visible;
      z-index: 2;
      background: transparent !important;
      border: 0;
      font-size: 0;
      outline:0 !important
    }
    .header-search-bar.desktop-version-hide form:before {
      right: 15px;
      color: #333;
      background-color: transparent;
    }
    .nav-main div.nav-user{
      display:none;
    }
    .show_sidebar .menu-drawer-overlay-custom {
      background: #000;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      z-index: 10000;
      background: rgba(0,0,0,0.8);
      left: 0;
    }
    a.menu-drwer-close {
      display: block;
    }
    .nav-main .menu-drawer ul::before {
      display:none;
    }
    .menu-drawer ul.extra-menu.is-active {
      padding: 0;
      left: 0;
      width: 100%;
      border: 0;
      background: transparent;
      box-shadow: none;
      border: 0;
    }
    .menu-drawer ul.extra-menu, .menu-drawer ul.extra-menu li {
      padding: 0;
      left: 0;
      width: 100%;
      border: 0;
      background: transparent;
      box-shadow: none;
      border: 0;
      opacity: 1;
      pointer-events: inherit !important;
    }
    .menu-drawer ul.extra-menu.is-active li a,   .menu-drawer ul.extra-menu li a {
      font-size: 16px !important;
    }
    .menu-drawer ul.extra-menu.is-active li,   .menu-drawer ul.extra-menu li {
      border: 0;
      padding: 0 10px;
      margin: 0;
      box-sizing: border-box;
    }


    .nav_trigger {
      font-size: 19px;
      margin: 5px 5px 0 10px;
    }
    #push_sidebar {
      width: 300px;
    }
    body.show_sidebar #push_sidebar {
      left:0%;
    }
    body.show_sidebar #wrapper {
      margin-right: 80%;
      width: 20%;
    }	

  }
  @media (max-width: 480px) {

    div.nav-user a{
      font-size:9px;
    }
    nav div.nav-user .container{
      padding:0 10px;
    }
  }

</style>

</style>

<nav class="nav-main" role="navigation" id="top">

  {% unless template == 'blog' or template == 'article' %}
  <div class="nav-user">
    <div class="container">
      <div class="header-search-bar">
        <form method="get" action="/search">
          <input type="text" name="q" />
          <input  type="submit" value="Search" />
        </form>
      </div>
      <div class="discount-txt">
        {% comment %}
        <span class="tooltip-container">
          <a data-toggle-trigger="checkuptooltip" data-toggle-class="is-active" style="font-weight:400;text-transform:none;letter-spacing:0;">Click here for FREE U.S. SHIPPING!</a> 

          <div class="tooltip-subscription acform" data-toggle-target="checkuptooltip">

            <div class="_form_4"></div>
            <script src="https://rasakoffee.activehosted.com/f/embed.php?id=4" type="text/javascript" charset="utf-8"></script>
          </div>
          <div class="tooltip-overlay" data-toggle-target="checkuptooltip" data-toggle-trigger="checkuptooltip" data-toggle-class="is-active"></div>  

        </span>
        {% endcomment %}
      </div>    

      <div class="top-links">
        {% if shop.customer_accounts_enabled %}
        {% if customer %}
        <!--div class="cart-link" style="display:inline;">
<a class="nav-link-text" href="/cart">
<span class="cart-text" style="top:0">Cart</span>
</a>
</div-->
        <a href="/account">{{ customer.first_name }}</a>{{ 'Log out' | customer_logout_link }}
        {% else %}
        <!--div class="cart-link" style="display:inline;">
<a class="nav-link-text" href="/cart">
<span class="cart-text" style="top:0">Cart</span>
</a>
</div-->
        {{ 'Log in' | customer_login_link }}
        {% if shop.customer_accounts_optional %}&nbsp;&nbsp;&nbsp;&nbsp;<span class="mobile-screen-hide"></span><span class="tertiary-small">{{ 'Sign up' | customer_register_link }} &nbsp; </span><span class="tertiary-large">{{ 'Create account' | customer_register_link }}</span>
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  {% endunless %}

  <div class="container  nav-cont">
    <div class="logo-div-custom">
      <a class="nav-logo" href="/"><span class="logotype"></span></a>

      <span class="tagline">We're all in this together.</span> 
    </div>


    {% comment %}
    {% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
    <span class="tagline">
      {% if template contains 'page %}
      <span>{{ page.title }}</span>
      {% elsif template contains 'product' %}
      {% if collection.url %}
      <span aria-hidden="true">/</span>
      {{ collection.title | link_to: collection.url }}
      {% endif %}
      <!--<span aria-hidden="true">/</span>
<span>{{ product.title }}</span> -->
      {% elsif template contains 'collection' and collection.handle %}
      <a href="/collections/all-products" title="Shop">Shop</a>
      {% elsif template == 'blog' %}
      {% if current_tags %}
      <a href="/blogs/news" title="Blog">Blog</a>
      <span aria-hidden="true">/</span>
      <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      <span>Blog</span>
      {% endif %}
      {% elsif template == 'article' %}
      <a href="/blogs/news" title="Blog">Blog</a>
      <span aria-hidden="true">/</span>
      <span>Article</span>
      {% else %}
      <span aria-hidden="true">/</span>
      <span>{{ page_title }}</span>
      {% endif %}
    </span>
    {% endunless %}
    {% endcomment %}
    <div class="menu-drawer-overlay-custom">
      <div class="menu-drawer" >
        <ul data-toggle-target="mobile-menu" class="extra-menu">
          <a class="menu-drwer-close" href="#">×</a>
          <div class="header-search-bar desktop-version-hide">
            <form method="get" action="/search">
              <input type="text" name="q" />
              <input  type="submit" value="Search" />
            </form>
          </div>
          {% if customer.tags contains 'Wholesale' %}
          <li><a class="nav-link-text" href="/collections/wholesale"><span class="">Wholesale </span> Shop</a></li>
          {% endif %}
          <li class=""><a class="nav-link-text" href="/blogs/news">Blog</a></li>
          <li class=""> 
            <a class="nav-link-text" href="/pages/press">Press</a>  
          </li> 
          <li class="">
            <a href="/blogs/news/tagged/recipes">Recipes</a>
          </li>
          <li class=""><a class="nav-link-text" href="/pages/mission">About</a></li>
          <!--li class=""><a class="nav-link-text" href="/blogs/news/tagged/recipes">Recipes</a></li-->
          <li><a class="nav-link-text" href="/pages/faq">FAQ</a></li>
          <li class="mobile-shop"> 
            <a class="button-transparent" href="/collections/all-products">Shop</a>  
          </li> 
          <li class="desk-cart">
            <a href="#" class="site-header__cart"><span class="cart-text">Cart</span> &nbsp;<i class="fa fa-shopping-bag" aria-hidden="true"></i>
              <span class="cus-cart-count">{{ cart.item_count }}</span>
            </a>

          </li>


        </ul>
      </div>
    </div>
    <div class="shopping">
      <a class="menu-button" href="/collections/all-products">Shop</a>
      <a href="#" class="site-header__cart mobile-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span class="cus-cart-count">{{ cart.item_count }}</span></a>
    </div>
    <a class="menu-trigger" id="nav-trigger" href="javascript:void(0)" data-toggle-trigger="mobile-menu"><span class="nav_trigger"></span></a>
  </div>
</nav>
{% include 'quiz-modal' %}

<script>
  if ($(window).width() < 769) {
    $('.mobile-shop,.desk-cart').css('display','none');
    $('.menu-drawer').attr('id', 'push_sidebar');

  }


</script>


<div id="cart_drawer" class="cart_drawer_main">
  <div class="cart_drawer">
    <h2 class="cart_drawer_title">CART</h2>

    <a class="cart_drawer_close" href="#">&times;</a>



    <div class="cart_drawer_items">
      {% comment %}
      <p class='item_count'> <span></span> products in your cart</p>     
      {% endcomment %}
    </div>




    <div class="cart_total_price">
      <div class='cart_price'><p>Subtotal:</p> <h3> <span></span></h3></div>

      <!---p class="tax_note"><small>Taxes and shipping calculated at checkout</small></p-->
    </div>



    <div class="cart_drawer_btns" > 

      <form action='/checkout'>
        <input name="checkout" type="submit" value="Checkout">
      </form>


    </div>
    <div class="empty_cart" style="display:none;">
      <p>  Your cart is empty. <span class=""><a href="/collections/all-products">Continue Shopping</a></span></p>
    </div>
    <div id="get_currency" data-value="{{shop.currency | money}}" style="display:none;"></div>
  </div>
</div>


<script>
  $(document).ready(function(){

    $(".nav_trigger").click(function() {
      $("body").toggleClass("show_sidebar");
      $(".nav_trigger .fa").toggleClass("fa-navicon fa-times"); // toggle 2 classes in Jquery: http://goo.gl/3uQAFJ - http://goo.gl/t6BQ9Q
    });

    $(".menu-drwer-close").click(function() {
      $('body').removeClass('show_sidebar'); 
    });

    $(document).mouseup(function (e){

      var container = $("#push_sidebar");

      if (!container.is(e.target) && container.has(e.target).length === 0){

        $('body').removeClass('show_sidebar'); 

      }
    }); 

    $(document).on('click','a.site-header__cart,#add',function(e){

      e.preventDefault();
      $('.cart_drawer_main').addClass('drawer-open');


    });


    $(' a.cart_drawer_close').click(function(e){
      e.preventDefault();
      $('.cart_drawer_main').removeClass('drawer-open');



    });  



    var modaln = document.getElementById('cart_drawer');
    window.onclick = function(event) {
      if (event.target == modaln) {
        $('.cart_drawer_main').removeClass('drawer-open');


      } 

    }  

    var currency=$('#get_currency').attr('data-value'); 
    $("a.site-header__cart").attr('href','');





    $(document).on('click','#add',function(e){

      var loc = $(this).attr('data-loc');

      //e.preventDefault();

      if(loc == 'single'){
        var variant_id_custom = $('#product-select option:selected').val();
        var qtyminus = $('#quantity').val();

        $.ajax({
          type: 'POST',
          url: '/cart/add.js',
          dataType: 'json',
          data: $('.custom-product-form').serialize(),
          success: function(resp){
            //console.log(resp);
            $.ajax({
              type: 'GET',
              url: '/cart.js',
              async: false,
              cache: false,
              dataType: 'json',
              success: function(res){

                var items = res['items'];
                var count = res['item_count'];
                //console.log(count);
                var total_price= res['original_total_price'];
                //$(".cart_drawer .item_count span").append(count);
                $(".cart_drawer .cart_drawer_items").empty();   
                for(i=0;i<items.length;i++){
                  $(".cart_drawer .cart_drawer_items").append("<div class='cart_item'>"+"<div class='item_img'>"+"<a href="+items[i]['url']+">"+"<img src="+items[i]['image']+">"+"</a>"+"</div>"+"<h3 class='item_title'>"+"<a href="+items[i]['url']+">"+items[i]['title']+"</a>"+"<p><span></span>$"+items[i]['price']/100+"</p>"+"</h3>"+"<div class='quantity-box-cus'><input min='' type='number' class='cart-quant' id='quntity' name='quantity' value="+items[i]['quantity']+" /> <input class='cart-variant' type='hidden' value="+items[i]['id']+"><p class='up-cart-quant'>X</p></div>"+"</div>");
                }
                $(".cart_drawer .cart_price h3").empty();
                $(".cart_drawer .cart_price h3").append("<p>$"+total_price/100+"</p>");
                $(".cus-cart-count").empty();
                $(".cus-cart-count").append(count);
                if(count != 0 ){
                  $('.cart_drawer_btns').css('display','block'); 
                  $('.empty_cart').css('display','none');
                }
                
                if(window.BOLD
                   && BOLD.common
                   && BOLD.common.eventEmitter
                   && typeof BOLD.common.eventEmitter.emit === 'function') {
                	BOLD.common.eventEmitter.emit("BOLD_COMMON_cart_loaded");
                }
              }
            });

          }


        });
      }

      else if(loc == 'collection'){

        var variant_id_custom = $(this).prev().find('#product-select').val();

        var addData = {
          id:variant_id_custom, 
          quantity:1
        };

        $.ajax({
          type: 'POST',
          url: '/cart/add.js',
          dataType: 'json',
          data: addData,
          success: function(resp){
            console.log(resp);
            $.ajax({
              type: 'GET',
              url: '/cart.js',
              async: false,
              cache: false,
              dataType: 'json',
              success: function(res){

                console.log(res);
                var items = res['items'];
                var count = res['item_count'];
                //console.log(count);
                var total_price= res['original_total_price'];
                //$(".cart_drawer .item_count span").append(count);

                $(".cart_drawer .cart_drawer_items").empty();   
                for(i=0;i<items.length;i++){


                  $(".cart_drawer .cart_drawer_items").append("<div class='cart_item'>"+"<div class='item_img'>"+"<a href="+items[i]['url']+">"+"<img src="+items[i]['image']+">"+"</a>"+"</div>"+"<h3 class='item_title'>"+"<a href="+items[i]['url']+">"+items[i]['title']+"</a>"+"<p><span></span>$"+items[i]['price']/100+"</p>"+"</h3>"+"<div class='quantity-box-cus'><input min='' type='number' class='cart-quant' id='quntity' name='quantity' value="+items[i]['quantity']+" /> <input class='cart-variant' type='hidden' value="+items[i]['id']+"><p class='up-cart-quant'>X</p></div>"+"</div>");

                }
                $(".cart_drawer .cart_price h3").empty();
                $(".cart_drawer .cart_price h3").append("<p>$"+total_price/100+"</p>");
                $(".cus-cart-count").empty();
                $(".cus-cart-count").append(count);

                if(count != 0 ){
                  $('.cart_drawer_btns').css('display','block'); 
                  $('.empty_cart').css('display','none');
                }
                
                if(window.BOLD
                   && BOLD.common
                   && BOLD.common.eventEmitter
                   && typeof BOLD.common.eventEmitter.emit === 'function') {
                  BOLD.common.eventEmitter.emit("BOLD_COMMON_cart_loaded");
                }

              }
            });

          }


        }); 
      }
    });


    $.ajax({
      type: 'GET',
      url: '/cart.js',
      async: false,
      cache: false,
      dataType: 'json',
      success: function(res){

        console.log(res);
        var items = res['items'];
        var count = res['item_count'];
        //console.log(count);
        var total_price= res['original_total_price'];
        //$(".cart_drawer .item_count span").append(count);

        $(".cart_drawer .cart_drawer_items").empty();   
        for(i=0;i<items.length;i++){


          $(".cart_drawer .cart_drawer_items").append("<div class='cart_item'>"+"<div class='item_img'>"+"<a href="+items[i]['url']+">"+"<img src="+items[i]['image']+">"+"</a>"+"</div>"+"<h3 class='item_title'>"+"<a href="+items[i]['url']+">"+items[i]['title']+"</a>"+"<p><span></span>$"+items[i]['price']/100+"</p>"+"</h3>"+"<div class='quantity-box-cus'><input min='' type='number' class='cart-quant' id='quadtity' name='quantity' value="+items[i]['quantity']+" /><input class='cart-variant' type='hidden' value="+items[i]['id']+"><p class='up-cart-quant'>X</p></div>"+"</div>");

        }
        $(".cart_drawer .cart_price h3").empty();
        $(".cart_drawer .cart_price h3").append("<p>$"+total_price/100+"</p>");
        if(count == 0 ){
          $('.cart_drawer_btns').css('display','none'); 
          $('.empty_cart').css('display','block');
        }
        
        if(window.BOLD
           && BOLD.common
           && BOLD.common.eventEmitter
           && typeof BOLD.common.eventEmitter.emit === 'function') {
          BOLD.common.eventEmitter.emit("BOLD_COMMON_cart_loaded");
        }

      }
    });


    $(document).on('change', '.cart-quant', function(){ 


      var qty = $(this).val();
      //   alert(qty);
      var variant_id_custom = $(this).next('.cart-variant').val();
      //  alert(variant_id_custom);

      if(qty == 0 ){
        $(this).parent().parent().remove();

      }

      var changeData = {
        id:variant_id_custom, 
        quantity:qty
      };

      $.ajax({
        type: 'post',
        url: '/cart/change.js',
        data: changeData,
        success: function(d){
          //console.log(d);
          var count = d['item_count'];
          var total_price= d['original_total_price'];
          $(".cart_drawer .cart_price h3").empty();
          $(".cart_drawer .cart_price h3").append("<p>$"+total_price/100+"</p>");
          $(".cus-cart-count").empty();
          $(".cus-cart-count").append(count);
          if(count == 0 ){
            $('.cart_drawer_btns').css('display','none'); 
            $('.empty_cart').css('display','block');
          }
          
          if(window.BOLD
             && BOLD.common
             && BOLD.common.eventEmitter
             && typeof BOLD.common.eventEmitter.emit === 'function') {
            BOLD.common.eventEmitter.emit("BOLD_COMMON_cart_loaded");
          }
        },
        dataType: 'json'
      });  

    });


    $(document).on('click', '.up-cart-quant', function(){
      //var zero = 0;
      //var quant =  $(this).prev().prev('.cart-quant').val(zero);
      var variant_id_custom = $(this).prev('.cart-variant').val();
      //alert(variant_id_custom);
      var updateData = {
        id:variant_id_custom, 
        quantity:0
      };
      console.log(updateData);

      $.ajax({
        type: 'post',
        url: '/cart/change.js',
        data: updateData,
        //data: { updates:{ variant_id_custom:0} },
        dataType: 'json',
        success: function(up){
          console.log(up);
          var count = up['item_count'];
          var total_price= up['original_total_price'];
          $(".cart_drawer .cart_price h3").empty();
          $(".cart_drawer .cart_price h3").append("<p>$"+total_price/100+"</p>");
          $(".cus-cart-count").empty();
          $(".cus-cart-count").append(count);
          if(count == 0 ){
            $('.cart_drawer_btns').css('display','none'); 
            $('.empty_cart').css('display','block');
          }
          
          if(window.BOLD
             && BOLD.common
             && BOLD.common.eventEmitter
             && typeof BOLD.common.eventEmitter.emit === 'function') {
            BOLD.common.eventEmitter.emit("BOLD_COMMON_cart_loaded");
          }
          
        }
      }); $(this).parent().parent().remove();
    });

  });


  /*$(document).on('click','.cart_drawer_btns',function(e){
  var all_val = [];
	$('.cart_item').each(function(){
	  var variant_id_custom = $(this).find('.cart-variant').val(); 
      var qtyminus = $(this).find('.cart-quant').val();

      var para = variant_id_custom+":"+ qtyminus;
   			all_val.push(para);
      	});	

	window.location.href = "https://rasa-koffee.myshopify.com/cart/"+all_val;

});*/


</script>