{% layout settings.customer_layout %}

<div class="container-account">
  <aside class="menu-sidebar">
    <ul class="menu-options-sidebar">
      <li class="item-menu-sidebar item-account-details">
        <a data-url="#account-details" class="link-menu-sidebar">Account Details</a>
      </li>
      <li class="item-menu-sidebar item-account-order-history">
        <a data-url="#account-order-history" class="link-menu-sidebar">Order History</a>
      </li>
      <li class="item-menu-sidebar item-account-address-book">
        <a data-url="#account-address-book" class="link-menu-sidebar">Address Book</a>
      </li>
      {% comment %}
      <li class="item-menu-sidebar item-account-billing">
        <a data-url="#account-billing" class="link-menu-sidebar">Billing</a>
      </li>
      {% endcomment %}
      <li class="item-menu-sidebar item-account-subscription">
        <a data-url="#account-subscription" class="link-menu-sidebar">Subscription</a>
      </li>
      <li class="item-menu-sidebar item-logout item-mobile">
        {{ 'Log out' | customer_logout_link }}
      </li>
    </ul>
  </aside>
  <!-- End menu-sidebar -->

  <div class="page-content">    

    <section id="account-details">
      <h2 class="section-title">Account Details</h2>

      <div id="ad-{{ ad.id }}" class="address-block address-{{ ad.id }}">
          <div class="basic-information">
            <h3 class="title">Basic Information</h3>
            <p class="name">
              <span class="address-subtitle">Name</span>
              <span class="address-first-name">{{ customer.name }}</span>
            </p>
          </div>
          <!-- End Basic Information -->

          <div class="contact-information">
            <h3 class="title">Login Information</h3>
            <p class="email">
              <span class="address-subtitle">Email</span>
              <span class="address-email">{{ customer.email }}</span>
            </p>

            <p class="phone">
              <span class="address-subtitle">Password</span>
              <span class="address-phone">••••••</span>
              <div class="hidden-reset-pass">
                {% form 'recover_customer_password', class: 'form-reset', id: 'form-reset' %}
                  {{ form.errors | default_errors }}
                  <label for="customer_email">Email Address</label>
                  <input type="email" name="email" value="{{ customer.email }}"/>

                  <button type="submit" class="reset-pass-btn">Reset Password</button>
                {% endform %}
              </div>
              
              <span class="reset-message success">We sent you a message with instructions to reset your password. <br> Please check your mailbox!</span>
              <span class="reset-message err">Wasn't possible reset your password now <br> Please try again later!</span>
            </p>
          </div>
          <!-- End Contact Information -->

          <div class="address-information">            
          </div>
          <!-- End Address Information-->
          
        </div>
    </section>
    <!-- End #Account Details -->

    <section id="account-order-history">
      <h2 class="section-title">Order History</h2>
      <div id="customer_orders">
        {% if customer.orders.size != 0 %}
        <div class="mobile-table">
        {% for order in customer.orders %}
            <div class="order-line order-{{ order.name | remove: '#' }}">
              <div class="date mobile-date">
                <span class="title">Date</span>
                <span class="value">{{ order.created_at | date: "%b %d, %Y" }}</span>
              </div>

              <div class="order mobile-order">
                <span class="title">Order</span>
                <span class="value">
                  <a href="#" data-link=".mobile-order-{{ order.name | remove: '#' }}" class="order-link">{{ order.name }}</a>
                </span>

                <div class="order-details details-mobile mobile-order-{{ order.name | remove: '#' }}">
                  {% for line in order.line_items %}
                    <div class="mobile-details mobile-product">
                      <span class="item-title">Product</span>
                      <span class="value item-name"> {{ line.title }}</span>
                    </div>

                    <div class="mobile-details mobile-quantity">
                      <span class="item-title">Quantity</span>
                      <span class="value item-quantity">{{ line.quantity }} x {{ line.final_price | money }}</span>
                    </div>

                    <div class="mobile-details mobile-total">
                      <span class="item-title">Total</span>
                      <span class="item-total">{{ line.final_price | times: line.quantity | money }}</span>
                    </div>
                  {% endfor %}

                  {% for discount_application in order.cart_level_discount_applications %}
                    <div class="mobile-details order-discounts mobile-order-{{ order.name | remove: '#' }} order-totals">
                      <span>Discounts</span>
                      <span>
                        {{ discount_application.title }} - {{ discount_application.total_allocated_amount | money }}
                      </span>
                    </div>
                  {% endfor %}

                  <div class="mobile-details order-shipping mobile-order-{{ order.name | remove: '#' }} order-totals">
                    <span>Shipping</span>
                    <span>{{ order.shipping_price | money }}</span>
                  </div>

                  <div class="mobile-details order-total mobile-order-{{ order.name | remove: '#' }} order-totals">
                    <span>Total</span>
                    <span>{{ order.total_price | money }}</span>
                  </div>
                </div>
              </div>

              <div class="mobile-details tracking mobile-tracking">
                <span class="title">Tracking</span>
                <span class="value">
                  {% for line in order.line_items %} 
                    {% if line.fulfillment.tracking_number %}
                      {% if track_number != line.fulfillment.tracking_number %}
                        {{ line.fulfillment.tracking_number | link_to: line.fulfillment.tracking_url }}
                      {% endif %}
                      {% assign track_number = line.fulfillment.tracking_number %}
                    {% endif %}
                  {% endfor %}
                </span>
              </div>

              <div class="mobile-details charge charge-mobile">
                <span class="title">Charge</span>
                <span class="value total money">{{ order.total_price | money }}</span>
              </div>

            </div>
          {% endfor %}
        </div>
        {% comment %} End Mobile Table {% endcomment %}
        
        <table class="desktop-table">
          <thead>
            <tr>
              <th class="date">Date</th>
              <th class="order_number">Order</th>
              <th class="tracking" colspan="2">Tracking</th>
              <th class="total">Charge</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
            <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}"">
              <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>

              <td>
                <a href="#" data-link=".order-{{ order.name | remove: '#' }}" class="order-link">{{ order.name }}</a>
              </td>

              <td colspan="2">
                <span class="tracking">
                  {% for line in order.line_items %} 
                    {% if line.fulfillment.tracking_number %}
                      {% if track_number != line.fulfillment.tracking_number %}
                        {{ line.fulfillment.tracking_number | link_to: line.fulfillment.tracking_url }}
                      {% endif %}
                      {% assign track_number = line.fulfillment.tracking_number %}
                    {% endif %}
                  {% endfor %}
                </span>
              </td>
              
              <td><span class="total money">{{ order.total_price | money }}</span></td>
              
            </tr>
            <tr class="order-details details-titles order-{{ order.name | remove: '#' }}">
              <td class="line-item-column"><span class="item-title">Product</span></td>
              <td class="line-item-column"><span class="item-title" style="text-align: right;">Quantity</span></td>
              <td class="line-item-column last"><span class="item-title">Amount</span></td>
            </tr>

            {% for line in order.line_items %}
              <tr class="order-details order-{{ order.name | remove: '#' }} item item-{{ line.id }}">
                <td>
                  <p class="item-name">{{ line.title }}</p>
                </td>

                <td class="line-item-column">
                  <p class="item-quantity" style="text-align: right;">
                    {{ line.quantity }} x {{ line.final_price | money }}
                  </p>
                </td>

                <td class="line-item-column last">
                  <p class="item-total">{{ line.final_price | times: line.quantity | money }}</p>
                </td>
              </tr>
            {% endfor %}

            {% for discount_application in order.cart_level_discount_applications %}
              <tr class="order-discounts order-{{ order.name | remove: '#' }} order-totals">
                <td colspan="4">Discounts</td>
                <td>
                  {{ discount_application.title }} - {{ discount_application.total_allocated_amount | money }}
                </td>
              </tr>
            {% endfor %}
                
            <tr class="order-shipping order-{{ order.name | remove: '#' }} order-totals">
              <td colspan="4">Shipping</td>
              <td>{{ order.shipping_price | money }}</td>
            </tr>

            <tr class="order-total order-{{ order.name | remove: '#' }} order-totals">
              <td colspan="4">Total</td>
              <td>{{ order.total_price | money }}</td>
            </tr>

            {% endfor %}

          </tbody>
        </table>
        {% else %}
          <p>You haven't placed any orders yet.</p>
        {% endif %}
      </div>

    </section>
    <!-- End #Account Order History -->

    <section id="account-address-book">
      <h2 class="section-title">Address Book</h2>
      
      {% for ad in customer.addresses %}
        <div class="user-edit-form-{{ ad.id }} form-container">
          {% form 'customer_address', ad, class: 'user-edit-form' %}
            <div class="form-actions">
              <button type="submit" class="user-edit-submit">
                <i class="fa fa-save"></i> Save
              </button>
              <a href="#" class="btn-cancel-edit"><i class="fa fa-window-close"></i> Cancel</a>
            </div>
            <div class="form-basic-information">
            <h3 class="title">Basic Information</h3>
              <label for="address[first_name]">First Name</label>
              <input type="text" name="address[first_name]" value="{{ ad.first_name }}" placeholder="First Name"/>
              
              <label for="address[last_name]">Last Name</label>
              <input type="text" name="address[last_name]" value="{{ ad.last_name }}" placeholder="Last Name"/>

              <label for="address[company]">Company</label>
              <input type="text" name="address[company]" value="{{ ad.company }}" placeholder="Company">
            </div>

            <div class="form-contact-information">
              <h3 class="title">Contact Information</h3>
              <label>Email</label>
              <span class="address-email">{{ customer.email }}</span>
              
              <label for="address[phone]">Phone</label>
              <input type="tel" name="address[phone]" value="{{ ad.phone }}" placeholder="Phone Number">
            </div>

            <div class="form-address-information">
            <h3 class="title">Address</h3>
              
              <label for="address[address1]">Address1</label>
              <input type="text" name="address[address1]" value="{{ ad.address1 }}" placeholder="Address 1">
              
              <label for="address[address2]">Address2</label>
              <input type="text" name="address[address2]" value="{{ ad.address2 }}" placeholder="Address 2">
              
              <label for="address[city]">City</label>
              <input type="text" name="address[city]" value="{{ ad.city }}" placeholder="City">
              
              <label for="address[province]">Province</label>
              <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              
              <label for="address[zip]">Zip</label>
              <input type="text" name="address[zip]" value="{{ ad.zip }}" placeholder="Zip Code">
              
              <label for="address[country]">Country</label>
              <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>

            </div>
          {% endform %}
        </div>
        <div class="address-actions">
          <a href="#" data-form=".user-edit-form-{{ ad.id }}" class="edit-link-button" data-block=".address-{{ ad.id }}">
            <i class="fa fa-edit"></i> Edit
          </a>
          <a href="#"><i class="fa fa-trash"></i> Delete</a>
        </div>
        <div id="ad-{{ ad.id }}" class="address-block address-{{ ad.id }}">
          <div class="basic-information">
            <h3 class="title">Basic Information</h3>
            <p class="name">
              <span class="address-subtitle">Name</span>
              <span class="address-first-name">{{ ad.first_name }}</span>
              <span class="address-last-name">{{ ad.last_name}}</span>
            </p>

            <p class="company">
              <span class="address-subtitle">Company</span>
              <span class="address-company">{{ ad.company }}</span>
            </p>
          </div>
          <!-- End Basic Information -->

          <div class="contact-information">
            <h3 class="title">Contact Information</h3>
            <p class="email">
              <span class="address-subtitle">Email</span>
              <span class="address-email">{{ customer.email }}</span>
            </p>

            <p class="phone">
              <span class="address-subtitle">Phone</span>
              <span class="address-phone">{{ ad.phone }}</span>
            </p>
          </div>
          <!-- End Contact Information -->

          <div class="address-information">
            <h3 class="title">Address</h3>
            <p class="address1">
              <span class="address-address1">{{ ad.address1 }}</span>
            </p>

            <p class="address2">
              <span class="address-address2">{{ ad.address2 }}</span>
            </p>

            <p class="city">
              <span class="address-city">{{ ad.city }}</span>
            </p>

            <p class="province">
              <span class="address-province">{{ ad.province }}</span>
            </p>

            <p class="zip">
              <span class="address-zip">{{ ad.zip }}</span>
            </p>

            <p class="country">
              <span class="address-country">{{ ad.country }}</span>
            </p>
          </div>
          <!-- End Address Information-->
          
        </div>

        <div class="address-form form-{{ ad.id }}">
          
        </div>
      {% endfor %}


      <div class="address note">
        {% if customer.default_address != nil %}
          <p>{{ customer.default_address.address1 }}</p>
          {% if customer.default_address.address2 != "" %}
            <p>{{ customer.default_address.address2 }}</p>
          {% endif %}
          <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
          <p>{{ customer.default_address.zip}}</p>
          <p>{{ customer.default_address.phone }}</p>
        {% endif %}
        <a id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
      </div>
    </section>
    <!-- End #Account Address Book -->

    <section id="account-billing">
      <h2 class="section-title">Billing</h2>
    </section>
    <!-- End #Account Billing -->

    <section id="account-subscription">
      <h2 class="section-title">Subscription</h2>
      {% if customer.metafields.subscriptions.customer_string %}
        <p>
          <a href="/tools/recurring/customers/{{ customer.metafields.subscriptions.customer_string }}/subscriptions/">Manage Subscriptions</a>
        </p>
      {% endif %}

      <p>
        You doesn't have any active Subscription. <a href="/tools/checkout/front_end/login" class="text-link">Subscribe now!</a>
      </p>
    </section>
    <!-- End #Account Subscription -->
  </div>
  <!-- End page-content -->
</div>