{% layout settings.customer_layout %}

<div class="container-account">
  <aside class="menu-sidebar">
    <ul class="menu-options-sidebar">
      <li class="item-menu-sidebar item-account-details">
        <a data-url="#account-details" class="link-menu-sidebar">Account Details</a>
      </li>
      <li class="item-menu-sidebar item-account-order-history">
        <a data-url="#account-order-history" class="link-menu-sidebar">Order History</a>
      </li>
      <li class="item-menu-sidebar item-account-address-book">
        <a data-url="#account-address-book" class="link-menu-sidebar">Address Book</a>
      </li>
      <li class="item-menu-sidebar item-account-billing">
        <a data-url="#account-billing" class="link-menu-sidebar">Billing</a>
      </li>
      <li class="item-menu-sidebar item-account-subscription">
        <a data-url="#account-subscription" class="link-menu-sidebar">Subscription</a>
      </li>
    </ul>
  </aside>
  <!-- End menu-sidebar -->

  <div class="page-content">    

    <section id="account-details">
      <h2 class="section-title">Account Details</h2>
      <h3 class="section-subtitle">Personal Info</h3>
      <div class="personal-info">
        <p class="name">{{ customer.name }}</p>
        <p class="email">{{ customer.email }}</p>
      </div>

    </section>
    <!-- End #Account Details -->

    <section id="account-order-history">
      <h2 class="section-title">Order History</h2>
      <div id="customer_orders">
        {% if customer.orders.size != 0 %}
        <table>
          <thead>
            <tr>
              <th class="order_number">Order</th>
              <th class="date">Date</th>
              <th class="total">Amount</th>
              <th class="tracking">Tracking</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
            <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
              <td>{{ order.name | link_to: order.customer_url }}</td>
              <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
              <td><span class="total money">{{ order.total_price | money }}</span></td>
              <td><span class="tracking">{% for o in order %} {{ o }} {% endfor %}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>You haven't placed any orders yet.</p>
        {% endif %}
      </div>

    </section>
    <!-- End #Account Order History -->

    <section id="account-address-book">
      <h2 class="section-title">Address Book</h2>
      
      {% for ad in customer.addresses %}
        <div class="address-actions">
          <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{ ad.id }}); return false">
            <i class="fa fa-edit"></i> Edit
          </a>
          <a href="#"><i class="fa fa-trash"></i> Delete</a>
        </div>
        <div id="ad-{{ ad.id }}" class="address-block address-{{ ad.id }}">
          <div class="basic-information">
            <h3 class="title">Basic Information</h3>
            <p class="name">
              <span class="address-subtitle">Name</span>
              <span class="address-first-name">{{ ad.first_name }}</span>
              <span class="address-last-name">{{ ad.last_name}}</span>
            </p>

            <p class="company">
              <span class="address-subtitle">Company</span>
              <span class="address-company">{{ ad.company }}</span>
            </p>
          </div>
          <!-- End Basic Information -->

          <div class="contact-information">
            <h3 class="title">Contact Information</h3>
            <p class="email">
              <span class="address-subtitle">Email</span>
              <span class="address-email">{{ customer.email }}</span>
            </p>

            <p class="phone">
              <span class="address-subtitle">Phone</span>
              <span class="address-phone">{{ ad.phone }}</span>
            </p>
          </div>
          <!-- End Contact Information -->

          <div class="address-information">
            <h3 class="title">Address</h3>
            <p class="address1">
              <span class="address-address1">{{ ad.address1 }}</span>
            </p>

            <p class="address2">
              <span class="address-address2">{{ ad.address2 }}</span>
            </p>

            <p class="city">
              <span class="address-city">{{ ad.city }}</span>
            </p>

            <p class="province">
              <span class="address-province">{{ ad.province }}</span>
            </p>

            <p class="zip">
              <span class="address-zip">{{ ad.zip }}</span>
            </p>

            <p class="country">
              <span class="address-country">{{ ad.country }}</span>
            </p>
          </div>
          <!-- End Address Information-->
          
        </div>

        <div class="address-form form-{{ ad.id }}">
          
        </div>
      {% endfor %}


      <div class="address note">
        {% if customer.default_address != nil %}
          <p>{{ customer.default_address.address1 }}</p>
          {% if customer.default_address.address2 != "" %}
            <p>{{ customer.default_address.address2 }}</p>
          {% endif %}
          <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
          <p>{{ customer.default_address.zip}}</p>
          <p>{{ customer.default_address.phone }}</p>
        {% endif %}
        <a id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
      </div>
    </section>
    <!-- End #Account Address Book -->

    <section id="account-billing">
      <h2 class="section-title">Billing</h2>
    </section>
    <!-- End #Account Billing -->

    <section id="account-subscription">
      <h2 class="section-title">Subscription</h2>
      {% if customer.metafields.subscriptions.customer_string %}
        <p>
          <a href="/tools/recurring/customers/{{ customer.metafields.subscriptions.customer_string }}/subscriptions/">Manage Subscriptions</a>
        </p>
      {% endif %}

      <p>
        You doesn't have any active Subscription. <a href="/tools/checkout/front_end/login" class="text-link">Subscribe now!</a>
      </p>
    </section>
    <!-- End #Account Subscription -->
  </div>
  <!-- End page-content -->
</div>