<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{{ page_title }}</title>
    <meta name="p:domain_verify" content="9e81d57ec903337af5b7775559f4e37c"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="dduB2eM-brPwGrcrBcvhqcLcFz30yjK0v3Zxghl0NIQ" />
    <meta name="google-site-verification" content="A2uAb3E2T3bgcbUJE6sCzt8WVR0MrzQhbXIyiKhW49Q" />
    <meta name="google-site-verification" content="j72HbNS0BXWV1iRRcifHu3yGLLCTcLlU6EmP9AF4ej8" />
    <meta name="msvalidate.01" content="F3934A7784325C5FA6CC36D4BFD42332" />
    <meta name="google-site-verification" content="dHzsyzuhRC0EH5_8lG4IDwwXup8NWpvdBaPy3HZQp00" />
    <link rel="pingback" href="/">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                                })(window,document,'script','dataLayer','GTM-KRW8J6W');</script>
    <!-- End Google Tag Manager -->
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    <style></style>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,700,700i|Muli:300,400,400i,700" rel="stylesheet">
    <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">

    {{ 'screen.css' | asset_url | stylesheet_tag }}
    {{ 'lightbox.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url |  stylesheet_tag }}
    {{ 'custom.css' | asset_url |  stylesheet_tag }}
    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}
    {{ content_for_header }}
    {%- include 'bold-common' -%}
    {%- include 'bold-product' with product, hide_action: 'header' -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% if template contains 'customers' %}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}
    {{ 'shopify_common.js'  | asset_url | script_tag }}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {{ 'jquery.min.js'  | asset_url | script_tag }}
    <!--Bing Adds-->
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26014831"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
    <!--Yotpo-->
    <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/bYVb9XBq7O3RX8UzuMkADxK86MhWdY5q15IwfmU1/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
    <!-- Start of rasakoffee Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=220d0e4c-6e4b-49dd-bed4-1e9b74c4b822"> </script>
    <!-- End of rasakoffee Zendesk Widget script -->
    <style>
      @media only screen and (max-width: 800px) {
        .nav-user .tooltip-subscription {
          right:-120px;
        }
        .nav-main .tooltip-subscription::before {
          left: 100px;
          right: auto;
        }
        .quiz-button-hero-wrapper a {
          white-space: normal !important;
        }
      }
      .rc_popup {
        display: none !important;
      }

      .quiz-modal .quiz-question-1 .rasa-logo, .quiz-modal .quiz-question-2 .rasa-logo, .quiz-modal .quiz-question-3 .rasa-logo, .quiz-modal .quiz-question-4 .rasa-logo {
        left: 0.5em !important
      }

      .article-content > p {
        float: none !important;
      }

      .article-content > div img,
      .article-content > p img {
        float: none !important;
        padding: 0;
        width: 100% !important;
        float: none !important;
        margin: 1em 0 !important;
        width: 100%;
        box-sizing: border-box;
        border: 0;
      }

      .article-content > div img[role="presentation"],
      .article-content > p img[role="presentation"] {
        width: auto !important;
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      .spr-header .spr-summary-caption .spr-summary-actions-togglereviews {
        display: none;
      }

      .shop-item-home a p {
        margin-bottom: .75em;
      }
      div#searchresults {
        padding: 80px 0;
      }


      .bold-ro__radio-div.bold-ro__recurring-div.bold-ro__sub.bold-ro__bold-active {
        margin-bottom: 12px;
      }

      body {
        margin-top: 5.5em;
      }
      body.template-article {
        margin-top: 160px;
      }

      body.template-blog .section-archive {
        padding-top: 85px;
      }

      div.nav-user {
        top: 0;
        left: 0;
        right: 0;
        background: #17a7a1;
        position: relative;
        padding: .2em 0;
        font-size: 14px !important;
      }
      div.nav-user .discount-txt {
        font-weight: 700;
      }
      div.nav-user .container {
        padding: 0 1.7em 0 0.5em;
        border: none;
        max-width: 1000px;

      }
      div.nav-user a {
        color: #fff;
      }


      /*
      .product-description ul li {
      margin-bottom: 1em !important;
      }

      .shipping .int-shipping.alt p:before {
      background-image: url({{ 'check.png' | asset_url }}) !important;
      }
      .shipping .us-shipping ul, .shipping .int-shipping ul {
      padding-left: 0;
      text-indent: 0;
      }
      .shipping .us-shipping li, .shipping .int-shipping li {
      margin-bottom: 0 !important;
      }
      */
      .spr-container {
        padding-left: 0 !important;
      }


      ._form_6 ._form-title {
        font-size: 1.875em;
        line-height: 1.4;
        color: #313e41;
        margin-bottom: 1em;
        margin-top: 1em;
        font-family: 'Valencia';
        text-transform: none;
        padding-top: 1em;
        border-top: 1px solid #e9e9e9;
        text-align: left;
      }

      .nav-main ul {
        top: 0px;
      }
      .nav-main > .container {
        padding: 1.5em 0 1.2em 0;
      }

      h2 ul { display: none; }


      .nav-main .tooltip-subscription form button {
        margin-left: 0.3125em;
      }

      .template-article .section-archive {
        overflow: visible;
      }

      .hero-homepage .hero-heading-static {
        margin-bottom: 14px;
      }
      .pagination {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2em;
      }

      section.section-archive#news {
        padding-bottom: 0;
      }

      .pagination span {
        padding: .25em .75em;
        border: 1px solid #F0F0EE;
        text-align: center;
        display: inline-block;
      }

      /*product page*/


      /*product slideshow modifications*/

      @media only screen and (max-width: 479px) {
        .template-article .section-archive .tooltip-subscription::before, .template-blog .section-archive .tooltip-subscription::before  {
          left: calc(100% - 100px);
        }
      }

      @media only screen and (min-width: 48em) {
        #depth-2 .content-scrolling::after {
          width: 315px;
        }
      }

      .promoted-products-box {
        display: none !important;
      }

      .blog-nav .title-small {
        display:none;
      }

      .blog-nav .title-logo {
        display: none;
      }

      .nav-main a.button-transparent {
        background: #ffe687 !important;
        border: #f2da7f 1px solid !important;
        font-weight: 600 !important;
      }

      .modal-lead {
        font-style: italic;
        font-weight: 500;
        font-size: 1.05em;
        line-height: 1.25;
        text-align: center;
      }

      .baguetteBox-button {
        background: transparent !important;
      }

      .article-image {
        margin-top: -3.125em;
      }

      .nav-main a.button-transparent:hover {
        background: #efd77e !important;
        border: #cdb96c 1px solid !important;
        color: #333 !important;
      }

      .nav-main a.button-transparent:focus {
        color: #333 !important;
      }

      .share-container {
        margin-top: 1.875em;
      }

      .blog-nav .tooltip-container {
        margin-top: -0.4375em;
      }

      @media only screen and (min-width: 500px) {
        .tertiary-small { display: none; }
      }

      @media only screen and (max-width: 500px) {
        .tertiary-large { display: none; }
      }

      .nav-main ul li {
        margin-left: 1.5em;
      }

      @media only screen and (min-width: 48em) {
        .nav-main ul .tooltip-container {
          margin-left: 2.5em;
        }
      }

      @media only screen and (min-width: 30em) and (max-width: 61.625em) {
        .nav-main a.button-transparent, .nav-user {
          margin-right: 1.5em;
        }
      }

      .archive-posts a figure img { 
        margin-top: -25px;
      }

      .tooltip-subscription::before {
        left: calc(100% - 37px);
      }

      #wholesale-login .article-content h1 {
        text-transform: capitalize;
      }

      #wholesale-login .tagline {
        text-transform: uppercase;
      }

      .cart-link svg {
        position: relative;
        top: -2px;
        left: -1px;
      }

      @media only screen and (max-width: 30em) {
        .cart-link svg {
          top: -4px;
          left: 0;
        }
      }

      .cart-link .tablet-screen-hide {
        position: relative;
        top: -7px;
      }

      ._form_6 ._submit {
        white-space: pre-wrap;
      }

      @media only screen and (max-width: 40em) {
        .blog-post .container {
          padding: 0 2.375em;
        }

        .template-article .section-cta .container, .template-page .section-cta .container {
          padding: 1em;
        }

        .tooltip-subscription {
          width: 244px;
        }

        .template-article .section-archive .tooltip-subscription::before, .template-blog .section-archive .tooltip-subscription::before {
          left: calc(100% - 64px);
        }

        .blog-post .container .article-image {
          width: calc(100% + 76px);
          margin-left: -2.375em;
        }
      }

      .section-archive .archive-posts .block-post .archive-meta {
        width: inherit;
      }

      @media only screen and  (max-width: 26.1875em) {
        body.template-article .article-content .share-container a.button-facebook {
          margin-bottom: 0.375em;
        }
      }

      .tooltip-cta {
        float: right;
        width: calc(100% - 198px - 4em);
        margin-left: 1em;
        margin-right: 3em;
        color: #999;
        font-size: .75em;
        letter-spacing: .5px;
        text-align: left;
        line-height: 1.25;
        display: inline-block;
      }

      @media screen and (max-width: 880px) {
        .tooltip-cta {
          float: left;
          width: 198px;
          margin-left: 0;
          margin-right: auto;
          margin-top: 6px;
        }
      }

      @media screen and (max-width: 765px) {
        .tooltip-cta {
          float: left;
          width: 100%;
          margin-left: 0;
          margin-right: auto;
          margin-top: 6px;
          text-align: center;
        }
      }

      .tooltip-cta-nav {
        color: #999;
        font-size: .75em;
        letter-spacing: .5px;
        text-align: left;
        margin-top: 5px;
        line-height: 1.25;
        display: inline-block;
        text-indent: 0;
      }

      .fb-comments {
        margin-top: 1.875em;
      }

      /*Missing add to cart button fix*/

      .product-morphing-side form[action^="/cart/add"] [type=submit] {
        visibility: visible !important;
      }

      /*Quiz Modal*/

      .template-index .section-cta {
        display: none;
      }

      .template-index .section-archive {
        border-top: none;
      }

      .quiz-modal-trigger span {
        display: inline;
      }

      .quiz-modal-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 930;
        opacity: 0;
        pointer-events: none;
        transition: all .5s;
        background: url({{ 'Tile_beans_1x.png' | asset_url }}) repeat, #89cfc9;
      }

      .section-quiz .quiz-modal-overlay {
        position: absolute;
        z-index: 930;
      }

      .quiz-modal-overlay.is-active {
        pointer-events: auto;
        opacity: 1;
      }

      .quiz-modal {
        width: 29.4375em;
        border-radius: 15px;
        background: #ffffff;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
        -webkit-transition: all .5s;
        transition: all .5s;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -40%, 0);
        transform: translate3d(-50%, -40%, 0);
        position: fixed;
        max-height: 646px;
        z-index: 940;
      }

      .quiz-modal-static {
        width: 29.4375em;
        border-radius: 15px;
        background: #ffffff;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 60;
      }

      .quiz-modal.is-active {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        pointer-events: auto;
      }

      .quiz-modal .rasa-logo, .quiz-modal-static .quiz-modal-static-body .rasa-logo {
        position: absolute;
        top: .5625em;
        left: .625em;
        z-index: 10;
        max-width: 1.125em;
      }

      .quiz-modal .modal-close {
        width: 1.3793103448em;
        height: 1.5517241379em;
        font-size: 1.45em;
        color: #ffffff;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 11px;
        display: none;
        background: #373737;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        line-height: 1.65em;
        backface-visibility: hidden;
      }

      .quiz-modal.is-active .modal-close {
        display: inline-block;
      }

      .quiz-modal .quiz-content {
        padding: 0;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
      }

      .quiz-modal .quiz-content .quiz-modal-loaded {
        max-height: 90vh;
        overflow: auto;
      }

      .quiz-modal .quiz-content .quiz-body, .quiz-modal-static .quiz-modal-static-body {
        padding: 3.125em 1.5625em 2.5em 1.5625em;
        box-sizing: border-box;
        text-align: center;
      }

      .quiz-modal .quiz-content .quiz-body p, .quiz-modal-static .quiz-modal-static-body p {
        text-align: center;
        font-size: 1em;
        line-height: 1.26;
        letter-spacing: -0.2px;
        color: #373737;
        font-weight: normal;
        margin-bottom: 1.7391304348em;
      }

      .quiz-modal .quiz-content .quiz-body p span, .quiz-modal-static .quiz-modal-static-body p span {
        font-weight: bold;
      }

      .quiz-modal .quiz-content .quiz-body h3, .quiz-modal-static .quiz-modal-static-body h3  {
        font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        font-size: 0.875em;
        background-color:  #f2fafa;
        line-height: 1;
        padding: 0.8571428571em 0 0.7142857143em 0;
        letter-spacing: 1.9px;
        color: #718d93;
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
      }

      .quiz-modal-static-body h3 {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .quiz-modal .quiz-content .quiz-body .start-quiz h2, .quiz-modal .quiz-content .quiz-body .quiz-result h2, .quiz-modal-static .quiz-modal-static-body h2 {
        font-size: 2em;
        line-height: 1.13;
        color: #313e41;
        margin-bottom: 0.3111111111em;
      }

      .quiz-modal .quiz-content .quiz-body .quiz-result h2 {
        margin-bottom: 0.8888888889em;
      }

      .quiz-modal .quiz-content .quiz-body .start-quiz hr, .quiz-modal-static .quiz-modal-static-body hr {
        background: #e6e6e6;
        height: 1px;
        width: 14.51em;
        margin: auto;
        margin-bottom: 1.375em;
      }

      .quiz-modal .quiz-content .quiz-body .button-red, .quiz-modal-static .quiz-modal-static-body .button-red {
        min-width: 12.9285714286em; 
      }

      .quiz-modal .quiz-content .quiz-body .button-red:hover, .quiz-modal-static .quiz-modal-static-body .button-red:hover {
        background-color: #ffe687 !important;
        color: #4a4a4a !important;
      }

      .start-quiz {
        display: none;
        opacity: 0;
        transition: all 0.3s;
        height: 420px;
      }

      .start-quiz.is-active, .quiz-modal-static .start-quiz {
        display: block;
        opacity: 1;
      }

      .quiz-question-1, .quiz-question-2, .quiz-question-3, .quiz-question-4, .quiz-result {
        display: none;
        opacity: 0;
        transition: all 0.5s;
      }

      .quiz-question-1, .quiz-question-2 {
        height: 527px;
      }

      .quiz-question-3, .quiz-question-4 {
        height: 527px;
      }

      .quiz-result {
        height: 354px;
      }

      .quiz-question-1.is-active, .quiz-question-2.is-active, .quiz-question-3.is-active, .quiz-question-4.is-active, .quiz-result.is-active {
        display: block;
        opacity: 1;
      }

      .quiz-question-1::after, .quiz-question-2::after, .quiz-question-3::after, .quiz-question-4::after {
        display: block;
        content: "";
        clear: both;
      }

      .quiz-modal .quiz-content .quiz-body .quiz-question-1 h2, .quiz-modal .quiz-content .quiz-body  .quiz-question-2 h2, .quiz-modal .quiz-content .quiz-body  .quiz-question-3 h2, .quiz-modal .quiz-content .quiz-body .quiz-question-4 h2 {
        font-size: 2em;
        margin-top: 0.8571428571em;
        margin-bottom: 1.2285714286em;
      }

      .quiz-body .choice {
        float: left;
        width: calc(50% - .78125em);
        border-radius: 15px;
        background-color: #f8f8f8;
        margin-bottom: 1.5625em;
        padding: 2em 1em 1em;
        box-sizing: border-box;
        cursor: pointer;
        height: 12.18875em;
        transition: .2s all ease-in-out;
        backface-visibility: hidden;
      }

      .quiz-body .choice:hover { 
        -webkit-transform: perspective(1px) scale(1.1);
        transform: perspective(1px) scale(1.1);
        background-color: #e9e9e9;
        -webkit-font-smoothing: antialiased;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
      }

      .quiz-body .choice:nth-child(odd) {
        margin-right: 1.5625em;
      }

      .quiz-body .choice:last-child, .quiz-body .choice:nth-last-child(2) {
        margin-bottom: 0;
      }

      .quiz-modal .quiz-content .quiz-body .choice p {
        margin-bottom: 0;
        font-size: 0.93125em;
        font-weight: 600;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #313e41;
      }

      .quiz-modal .quiz-content .quiz-body .choice span {
        max-width: 3.125em;
        display: inline-block;
        margin-bottom: 1.0625em;
      }

      .quiz-modal .quiz-content .quiz-body .quiz-result h3 + span {
        line-height: 0.85;
        display: inline-block;
        margin-bottom: 0.9375em;
        margin-top: 0.75em;
        max-width: 3.75em;
      }

      .quiz-modal .quiz-content .quiz-body .quiz-result .acform {
        max-width: 17.625em;
        margin: auto;
      }

      .quiz-modal .quiz-content .quiz-body .quiz-result .acform button {
        width: 100%;
      }

      .quiz-modal .quiz-content .quiz-body .quiz-result .acform input.quiz-score {
        opacity: 0;
        position: absolute;
        pointer-events: none;
      }

      .quiz-modal .quiz-content .quiz-body .quiz-result .acform ._has_error + ._error {
        padding: 0;
        font-size: .7em;
        border-radius: 0 0 5px 5px;
        height: 20px;
        bottom: -19px;
        line-height: 1.95;
      }

      .section-quiz {
        background: url({{ 'Tile_beans_1x.png' | asset_url }}) repeat, #89cfc9;
        position: relative;
      }

      .section-quiz .container {
        background-size: cover;
        padding: 1em;
        background: none;
        min-height: 47.5em;
      }

      .section-quiz blockquote {
        position: absolute;
        bottom: 4.6875em;
        bottom: 72px;
        left:50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
      }

      .section-quiz blockquote p {
        text-align: center;
        font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        font-size: 1em;
        color: #ffffff;
        line-height: 1.38;
        max-width: 440px;
        margin: auto;
      }

      .scroll-down {
        display: none;
      }

      /*Mobile screen*/

      @media screen and (max-width: 499px) {

        .quiz-modal {
          max-height: none;
        }

        .section-quiz .container {
          min-height: none;
        }

        .quiz-modal .quiz-content .modal-loaded {
          max-height: 80vh;
        }

        .quiz-modal, .quiz-modal-static {
          width: 18.75em;
        }

        .quiz-modal .quiz-content .quiz-body .start-quiz h2, .quiz-modal .quiz-content .quiz-body .quiz-result h2, .quiz-modal-static .quiz-modal-static-body .start-quiz h2  {
          font-size: 1.875em;
        }

        .quiz-modal .quiz-content .quiz-body h3, .quiz-modal-static .quiz-modal-static-body h3 {
          font-size: 0.65em;
          padding-right: 1em;
          padding-left: 1em;
        }

        .quiz-modal .modal-close {
          height: 1.01424242em;
          width: 1.2121212121em;
          font-size: 1.65em;
          line-height: 1.15;
        }

        .quiz-modal .quiz-content .quiz-body p, .quiz-modal-static .quiz-modal-static-body p  {
          font-size: 1.25em;
        }

        .quiz-modal .quiz-content .quiz-body .quiz-question-1 h2, .quiz-modal .quiz-content .quiz-body .quiz-question-2 h2, .quiz-modal .quiz-content .quiz-body .quiz-question-3 h2, .quiz-modal .quiz-content .quiz-body .quiz-question-4 h2 {    
          font-size: 1.5625em;
        }

        .quiz-body .choice {
          height: 176.37px;
          width: 100%;
          float: none;
        }

        .quiz-body .choice:nth-last-child(2) {
          margin-bottom: 1.5625em;
        }

        .quiz-body .choice:last-child {
          margin-bottom: 0;
        }

        .start-quiz, .quiz-question-1, .quiz-question-2, .quiz-question-3, .quiz-question-4, .quiz-result {
          height: auto;
        }

        .section-quiz blockquote {
          bottom: 2.5em;
          bottom: 5.55px;
          width: 100%;
        }

        .section-quiz blockquote p {
          margin: auto;
          max-width: 300px; 
        }

        .quiz-modal .rasa-logo, .quiz-modal-static .quiz-modal-static-body .rasa-logo {
          top: .2625em;
        }

        .scroll-down {
          color: #aaa;
          margin: 10px 0 -10px;
          display: block;
          font-size: 13px;
        }
      }

      /*Tablet and small desktop*/

      @media screen and (min-width: 31.25em) and (max-width: 81.25em) {

        .quiz-modal .quiz-content, .quiz-modal-static .quiz-modal-static-body {
          font-size: .85em;
        }

        .quiz-modal .choice {
          height: 148.6px;
        }

        .quiz-modal .modal-close {
          font-size: 1.19em;
        }

        .quiz-modal .quiz-question-1 .rasa-logo, .quiz-modal .quiz-question-2 .rasa-logo, .quiz-modal .quiz-question-3 .rasa-logo, .quiz-modal .quiz-question-4 .rasa-logo {
          /*left: 10.6625em;*/
        }

        .section-quiz blockquote {
          bottom: 7.1875em;
          bottom: 112px;
        }

        .start-quiz {
          height: 352px;
        }

        .quiz-question-2, .quiz-question-3 {
          height: 411px;
        }

        .quiz-question-1, .quiz-question-4 {
          height: 414px;
        }

        .quiz-result {
          height: 300px;
        }

      }

      @media screen and (min-width: 31.25em) and (max-width: 48em) {
        .section-quiz blockquote {
          bottom: 70px;
        }
      }

      @media only screen and (min-width: 48em) {
        #depth-3 .container {
          padding: 0 1.5em 6.75em;
        }
      }

      /*Featured reviews**/

      .featured-reviews-wrapper {
        width: 100%;
        box-sizing: border-box;
        left: 0;
        transform: none;
        max-width: 412px;
        padding: 1.0625em 1.0625em 1.125em;
        background: #fbfbfb;
        border: 1px solid #ececec;
        position: relative;
        margin: 1.25em auto;;
      }

      .featured-reviews-list {
        width: 100%;
      }

      .reviewshow-nav {
        position: absolute;
        width: 50%;
        left: 0;
        transform: none;
        height: 88%;
        top: 0;
        background: #fbfbfb;
        width: 100%;
        max-width: 412px;
        z-index: -1;
        border: 1px solid #ececec;
      }

      .product-morphing-pinned .featured-reviews-wrapper .slick-next, .product-morphing-pinned .featured-reviews-wrapper .slick-prev {
        display: block;
        position: absolute;
        z-index: 20;
        cursor: pointer;
        top: 44%;
        transition: all .3s;
        opacity: 1;
        border: 2px solid #dedede;
        border-radius: 50%;
        height: 2.5em;
        width: 3em;
        text-align: center;
        background: white;
        transform-origin: center;
        padding-top: .5em;
        margin-top: 1em;
      }

      .product-morphing-pinned .featured-reviews-wrapper .slick-next {
        right: -1.75em;
        -webkit-transform: translateY(-50%) scale(0.5);
        transform: translateY(-50%) scale(0.5);
      }

      .product-morphing-pinned .featured-reviews-wrapper .slick-prev {
        left: -1.75em;
        transform: translateY(-50%) scale(-0.5, 0.5);
        text-indent: 4px;
      }


      .featured-reviews-header {
        font-size: 1em;
        font-weight: bold;
        color: #4a4a4a;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        position: relative;
        margin-bottom: 1em;
      }

      .featured-reviews-header::before {
        content: url({{ 'icon-reviews.png' | asset_url }});
        display: inline;
        width: 20px;
        height: 18px;
        margin-right: 0.625em;
        position: relative;
        top: 4px;
      }

      .featured-reviews-list p {
        font-size:  0.875em;
        line-height: 1.43;
        font-weight: normal;
        letter-spacing: 0.0071428571em;
        margin-bottom: 0;
        color: #7b7b7b;
      }

      .customer-name {
        font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        font-size: 0.875em;
        font-weight: bold;
        color: #4a4a4a;
        margin-bottom: 0.5714285714em;
        display: inline-block;
      }

      .gateways-list {
        width: 100%;
        margin: auto;
        max-width: 412px;
      }

      .gateways-list p {
        display: inline;
        font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        font-size: 0.75em;
        letter-spacing: 0.0083333333em;
        color: #7b7b7b;
        text-transform: uppercase;
      }

      .gateways-list img {
        vertical-align: middle;
        max-width: 203px;
      }


      @media only screen and (min-width: 48em) {

        .featured-reviews-wrapper {
          margin: 1.25em 0;
          width: 50%;
        }

        .product-morphing-pinned .featured-reviews-wrapper .slick-next{
          right: -1.625em;
        }

        .gateways-list {
          width: 50%;
          margin: 0;
        }
      }

      @media only screen and (min-width: 768px) and (max-width:986px )  {
        .product-morphing-pinned .container:last-child {
          -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
        }
      }

      @media only screen and (min-width: 987px) and (max-width:1102px )  {
        .product-morphing-pinned .container:last-child {
          -wekit-transform: translateX(-32px);
          transform: translateX(-32px);
        }
      }

      @media only screen and (min-width: 768px) and (max-width:1300px )  {

        .featured-reviews-wrapper, .gateways-list {
          display: none;
        }
      }

      /*Product Description*/

      .product-description ul li {
        margin-bottom: 1em !important;
      }

      .add-to-cart-footer .add-to-cart-footer-1 ul, .add-to-cart-footer .add-to-cart-footer-2 ul, .add-to-cart-footer .add-to-cart-footer-3 ul {
        padding-left: 0;
        text-indent: 0;
        max-width: 169px;
        margin-bottom: 1em;
      }
      .add-to-cart-footer .add-to-cart-footer-1 li, .add-to-cart-footer .add-to-cart-footer-2 li, .add-to-cart-footer .add-to-cart-footer-3 li {
        margin-bottom: 0 !important;
      }

      .product-description p {
        line-height: 1.56;
        margin-bottom: 2em;
        font-size: 1em;
      }

      .product-description p.bold {
        font-weight: bold;
      }

      .product-description p.centered {
        text-align: center;
      }

      .product-description h3 { 
        font-size: 1.6em;
        line-height: 1.4;
        margin-bottom: 1em;
        text-transform: none;
      }

      .product-description h3 span {
        text-transform: uppercase;
      }

      @media screen and (min-width: 320px) and (max-width: 600px) {
        .product-description h3 {
          font-size: 1.4em;
        }
      }

      .product-description ul {
        list-style-type: none;
      }

      .product-description ul li {
        color: #373737;
        letter-spacing: -0.2px;
        line-height: 1.56;
        margin-bottom: 2em;
        font-family: 'proxima-nova';
        font-size: 1em;
        position: relative;
        padding-left: 0.75em;
      }

      .product-description ul li::before {
        content: "";
        /*background: url({{ 'burst.svg' | asset_url }}) no-repeat center center;*/
        background-size: cover;
        height: 12px;
        width: 12px;
        display: inline-block;
        position: absolute;
        top: 7px;
        left: -17px;
      }

      .product-description ul li span {
        padding-left: 0.4375em;
      }

      .product-description p span, .product-description ul li span  {
        color: #373737;
        font-weight: bold;
      }

      .product-description blockquote p {
        font-family: 'Georgia';
        color: #64777a;
        line-height: 1.56;
        margin-bottom: 2em;
        padding: 0 1em;
        font-size: 1em;
        position: relative;
      }

      .product-description blockquote p::before {
        content: "";
        height: 100%;
        width: 2px;
        background-color: #64777a;
        position: absolute;
        top: 0;
        left: 0;
      }

      .add-to-cart-footer::after {
        content: "";
        display: table;
        clear: both;
      }

      .add-to-cart-footer ul {
        list-style-type: none;
      }

      .add-to-cart-footer ul li span.free-shipping {
        color: #17a7a1;
        padding-left: 0;
        font-weight: bold;
      }

      .add-to-cart-footer .add-to-cart-footer-1, .footer-combined /*.add-to-cart-footer .add-to-cart-footer-2, .add-to-cart-footer .add-to-cart-footer-3*/ {
        float: left;
        width: calc(50% - .25em);
        margin-right: .5em;
        font-size: 0.875em; 
      }

      .add-to-cart-footer .add-to-cart-footer-1 {
        margin-bottom: .25em;
      }

      .add-to-cart-footer .add-to-cart-footer-2, .footer-combined {
        margin-right: 0;
      }

      .add-to-cart-footer .add-to-cart-footer-3 {
        /*margin-top: -51px;*/
      }

      .add-to-cart-footer .add-to-cart-footer-1 p, .add-to-cart-footer .add-to-cart-footer-2 p, .add-to-cart-footer .add-to-cart-footer-3 p {
        color: #313e41;
        line-height: 1.36;
        letter-spacing: -0.2px;
        margin-bottom: 0.5em;
        padding-left: 1.95em;
        position: relative;
      }

      .add-to-cart-footer .add-to-cart-footer-2 p {
        padding-left: 1.95em;
      }

      .add-to-cart-footer .add-to-cart-footer-1 p::before, .add-to-cart-footer .add-to-cart-footer-3 p::before, .add-to-cart-footer .add-to-cart-footer-2 p::before {
        content:"";
        width: 23px;
        height: 23px;
        display: inline-block;
        background: url({{ 'delivery.png' | asset_url }}) no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
      }

      .add-to-cart-footer .add-to-cart-footer-3 p:before, .add-to-cart-footer .add-to-cart-footer-2 p:before  {

        background-image: url({{ 'check.png' | asset_url }}) !important;
      }

      /*.add-to-cart-footer .add-to-cart-footer-3 p::after {
      content: '';
      position: absolute;
      width: 140px;
      height: 20px;
      background: #fbe97f80;
      z-index: -1;
      left: 27px;
      transform: rotate(-1deg);
      }*/

      .add-to-cart-footer .add-to-cart-footer-1 ul, .add-to-cart-footer .add-to-cart-footer-3 ul {
        margin-bottom: 1em;
      }

      .add-to-cart-footer .add-to-cart-footer-1 li, .add-to-cart-footer .add-to-cart-footer-2 li, .add-to-cart-footer .add-to-cart-footer-3 li {
        line-height: 1.36;
        letter-spacing: -0.2px;
        color: #7b7b7b;
        margin-bottom: 0;
        padding-left: 0;
      }

      .add-to-cart-footer .add-to-cart-footer-1 li::before, .add-to-cart-footer .add-to-cart-footer-2 li::before, .add-to-cart-footer .add-to-cart-footer-3 li::before {
        display: none;
      }

      .product-description .satisfaction-check {
        color: #7b7b7b;
        line-height: 1.36;
        font-weight: normal;
        font-size: 0.875em; 
        position: relative;
        padding-left: 1.95em;
      }

      .product-description .satisfaction-check::before {
        content:"";
        display: inline-block;
        width: 21px;
        height: 21px;
        display: inline-block;
        background: url({{ 'check.png' | asset_url }}) no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
      }

      .product-description .satisfaction-check span {
        color: #313e41;
        line-height: 1.36;
        font-weight: normal;
      }

      .product-description .image-card {
        padding: 1.5em 1.8125em;
        border-radius: 4px;
        margin-bottom: 2em;
        position: relative;
      }

      .product-description .image-card p {
        z-index: 2;
      }

      .product-description .image-card:nth-of-type(1)::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url({{ 'rasa-cup.png' | asset_url }}) no-repeat bottom right, #f8f8f8;

      }

      .product-description .image-card:nth-of-type(3)::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        /*background: url({{ 'easy-to-prepare@2x.png' | asset_url }}) no-repeat center left;*/
        background: url({{ 'easy-to-prepare.jpg' | asset_url }}) no-repeat center left;
        background-size: cover;
      }

      .product-description .image-card:nth-of-type(4)::before, .product-description .image-card:nth-of-type(4)::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 4px;
        background: url({{ 'herbs@2x.png' | asset_url }}) no-repeat top right;
        background-size: 313px;
      }

      .product-description .image-card:nth-of-type(4)::after {
        background: #89cfc9;
        z-index: -2;
      }


      .product-description .image-card h4 {
        font-size: 1.5625em;
        color: #313e41;
        line-height: normal;
        font-weight: normal;
        letter-spacing: -0.8px;
        max-width: 241px;
        margin-bottom: 0.4em;
      }

      .product-description .image-card:nth-of-type(4) h4 {
        color: #ffffff;
      }

      .product-description .image-card p {
        max-width: 218px;
        margin-bottom: 0;
        opacity: .9;
      }

      .product-description .image-card:nth-of-type(4) p {
        max-width: 258px;
        color: #ffffff;
      }

      @media screen and (min-width: 320px) and (max-width: 360px) {
        .product-description .image-card:nth-of-type(4) {
          background-size: cover;
        }
      }

      @media screen and (min-width: 348px) and (max-width: 355px) {
        .add-to-cart-footer .add-to-cart-footer-3 {
          margin-top: -33px;
        }
      }

      @media screen and (max-width: 440px) {
        .product-description .image-card:nth-of-type(2)::before {
          opacity: .4;
        }

        .product-description .image-card:nth-of-type(3)::before {
          background-position-x: right;
          opacity: .4;
        }

        .product-description .image-card:nth-of-type(4)::before {
          background-size: 372px;
          opacity: .7;
        }
      }

      @media only screen and (min-width: 768px) and (max-width:986px )  {
        .product-morphing-pinned .container:last-child {
          -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
        }
      }

      @media only screen and (min-width: 987px) and (max-width:1102px )  {
        .product-morphing-pinned .container:last-child {
          -wekit-transform: translateX(-32px);
          transform: translateX(-32px);
        }
      }

      .template-product .section-cta {
        display: none;
      }

      .template-product .grid-shop {
        margin-bottom: 0;
      }

      #product-add .addtocart {
        font-family: "Muli", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
        transition: .0s all linear;
        padding: 1.25em 2.5em;
        padding: 17px 46px 16px 69px !important;
      }

      #product-add:after {
        content: '';
        display: block;
        background: url({{ 'product-carticon.png' | asset_url }});
        background-repeat: no-repeat;
        background-size: 30px;
        margin-top: -40px;
        z-index: 2;
        position: absolute;
        margin-left: 8px;
        width: 31px;
        height: 30px;
        pointer-events: none;
      }

      #product-add .addtocart:hover {
        background: #008b8f !important;
      }

      /*Mobile updates*/
      .nav-main > .container {
        padding: 1.2em 1.1em 1.2em 0;
      }

      .nav-main ul li {
        line-height: 60px;
      }

      .nav-main ul li:first-child {
        margin-left: .20em;
      }

      .contactus {
        right: -45px;
      }

      .desktop-menu-search {
        position: absolute;
      }

      .desktop-menu-search input[type="text"] {
        position: absolute;
        top: 30px;
        right: 145px;
        border-bottom: 1px solid #17a7a1;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
        font-size: 0.8em;
      }

      .desktop-menu-search input[type="submit"] { visibility: hidden; }

      @media screen and (max-width: 387px) {
        span.quiz-mobile-hide {
          display: none;
        }
      }

      @media screen and (max-width: 423px) {
        div.nav-user {
          white-space:nowrap;
          overflow: visible;
          width: auto;
        }

        .tertiary-small {
          margin-right: 2.5em;
        }
      }

      /*hero homepage*/
      @media screen and (max-width: 374px ) {
        .hero-homepage figure {
          height: 12.875em;
        }

        .hero-homepage figure img {
          width: 400px;
        }

        .hero-homepage h1 {
          line-height: 1.1;
        }

        .hero-homepage .hero-heading-static {
          margin-top: 14px;
          margin-top: 0.49122807em;
        }

        .hero-homepage .hero-heading-rotator span {
          font-size: 1em;
        }
      }

      @media screen and (min-width: 375px) and (max-width: 660px ) {
        .hero-homepage figure {
          height: 20.875em;
        }

        .hero-homepage figure img {
          width: 600px;
        }

        .hero-homepage h1 {
          line-height: 1.1;
        }

        .hero-homepage .hero-heading-static {
          margin-top: 0.49122807em;
          margin-top: 0.518518518em;
          padding: 0 0.789473683em;
          padding: 0 0.4444444444444em;
          font-size: .9em;
        }

        .hero-homepage .hero-heading-rotator span {
          font-size: 1em;
        }

      }

      /*Hero Button*/

      .quiz-button-hero-wrapper {
        padding: 0 1.5em;
        margin-bottom: .366666666666666em;
      }



      .quiz-button-hero-wrapper a.button-transparent {
        background: #ffe687 !important;
        border: #f2da7f 1px solid !important;
        font-weight: 600 !important;
        padding: .45em 1em;
        font-size: 0.5em;
      }

      .quiz-button-hero-wrapper a.button-transparent:hover {
        background: #efd77e !important;
        border: #cdb96c 1px solid !important;
        color: #333 !important;
      }

      @media screen and (min-width: 660px) {
        .quiz-button-hero-wrapper {
          margin-bottom: .2666666666666666666em;
        }
      }

      /**Product meta update*/

      .product-description ul li span.free-shipping {
        color: #68c4a1;
        padding-left: 0;
      }

      /*Third product*/

      .grid-shop .container .shop-item-home .text-m {
        display: none;
      }

      .grid-shop .container .shop-item-home .item-meta {
        text-align: center;
        max-width: inherit;
        margin-bottom: 10px;
      }

      .grid-shop .container .shop-item-home .item-meta .price {
        float: none;
        font-size: 16px;
      }

      .grid-shop h2 {
        font-size: 1.625em;
      }

      .shop-item-home a p {
        font-size: 16px;
      }

      .grid-shop .container .shop-item-home {
        margin-bottom: 2em;
      }

      .grid-shop .container .shop-item-home:first-child {
        top: -4.75em;
        margin-bottom: 5.8125em;
      }

      .grid-shop .container .shop-item-home:first-child img {
        max-height: 193px;
      }

      .grid-shop .container .shop-item-home:last-child {
        margin-bottom: 0;
      }

      #try-rasa-koffee-organic-adaptogenic-coffee-alternative .slick-track .product-item:first-child a img {
        margin-top: 108px;
      }

      @media only screen and (min-width: 40em) {

        .grid-shop .container {
          max-width: 70em;

        }

        .grid-shop .container .shop-item-home {
          max-width: inherit;
          width: calc(33.333333333333% - 0.42em);
          margin-right: 0.625em;
          float: left;
          padding-left: 0;
          margin-bottom: 0;

        }

        .grid-shop .container .shop-item-home:first-child {
          padding-left: 0;
          padding-right: 0;
          top: -5.78em;

        }

        .grid-shop .container .shop-item-home:last-child {
          float: left;
          padding-left: 0;
          margin-right: 0;
        }
      }

      /*Mission Section*/

      @media screen and (max-width: 48em) {

        #depth-4 .container {
          padding: 0 1.5em 1.5em;
        }

        .mobile-img {
          display: inline;
        }

        .section-mission-image {
          display: none;
        }
      }

      @media only screen and (min-width: 48em) {
        #depth-3 .content-parallax{
          float: right;
        }

        #depth-3 .container {
          padding: 0 1.5em 6.75em;
        }

        .mobile-img {
          display: none;
        }

        .section-mission-image {
          display: block;
          position: absolute;
          width: 100%;
          height: calc(100vh + 30.625em);
        }

        .section-mission-image .content-parallax {
          opacity: 0;
          height: 100%;
          position: absolute;
          width: 100%;
          background: url({{ 'rasamission.jpg' | asset_url }}) no-repeat center left;
          background-size: cover;
          top: -50%;
          right:0;
        }

        .section-mission-image .content-parallax.is-in {
          opacity: 1;
          transition: opacity .3s;
        }

        .section-mission-image .container {
          width: calc(50% - 3.5625em);
          float: right;
          height: 100%;
        }

        .section-mission-scroll .container {
          padding: 6.75em 1.5em 6.75em;
        }
      }

      /*BOX POPOUT*/

      .box-popout {
        position: fixed;
        bottom: 30px;
        max-width: 340px;
        overflow: visible; 
        padding: 1.25em;
        pointer-events: none;
        z-index: 100;
        opacity: 1;
        transition: all .3s;
        right: -3000px;
      }

      .box-popout.is-active {
        pointer-events: auto;
        animation: bounceInRight .5s forwards;
      }

      .box-popout.is-off {
        pointer-events: none;
        opacity: 0;
        right: -3600px;
        transition: all .3s;
      }

      .box-popout:hover {
        transform: scale(1.05);
      }

      .box-popout .popout-content {
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        max-width: 100%;
        background: #fff;
        border: 1px solid #e2e1dd;
        display: flex;
        align-items: center;
      }

      .box-popout .popout-content::after {
        content: "";
        display: block;
        clear: both;
      }

      .box-popout .popout-content .popout-text {
        width: calc(100% - 140px);
      }

      .box-popout .button-close {
        position: absolute;
        background: #000;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        font-size: 1.125em;
        line-height: 1.1;
        color: white;
        top: 16px;
        right: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
      }

      .box-popout .latest-product-msg {
        display: block;
        cursor: pointer;
        color: #4a4a4a;
        font-size: .9em;
      }

      .box-popout .popout-content h3 {
        font-size: 1.25em;
        margin-bottom: 0.5em;
      }

      .box-popout .popout-content p {
        margin-bottom: 0;
        line-height: 1.2;
      }

      .box-popout .popout-content p span {
        color: #53a2b2;
        cursor: pointer;
      }

      .box-popout .popout-content p span:hover {
        color: #000;
      }

      .box-popout img {
        max-width: 100%;
      }

      .box-popout .product-image {
        flex: 1 0 140px;
        width: 140px;
        padding-right: 10px;
      }

      @media only screen and (min-width: 40em) {

        .box-popout {
          min-width: 370px;

        }

        .box-popout .latest-product-msg {
          font-size: 1em;
        }

        .box-popout .popout-content p {
          max-width: inherit;
          font-size: 15px;
        }

        .box-popout img {
          max-width: 100%;
        }
      }

      @media only screen and (max-width: 22.5em) {

        .box-popout .product-image {
          left: 18px;
        }

      }

      @media only screen and (max-width: 40em) {

        .box-popout {
          right: 0;
          transform: translate3d(3000px, 0, 0)
        }

        .box-popout.is-active {

          animation: bounceInRightMob .5s forwards;
        }
      }

      @media only screen and (max-width: 48em) {

        .box-popout .button-close {
          line-height: 1.25;
          top: 12px;
          right: 12px;
        }
      }

      @media only screen and (min-width: 40em) and (max-width: 48em) {

        .box-popout img {
          max-width: 100%;
        }
      }

      @media only screen and (min-width: 360px) and (max-width: 374px) {


      }

      @media only screen and (min-width: 375px) and (max-width: 767px) {

      }

      @media only screen and (max-width: 566px) {

        .box-popout {
          bottom: 70px;
        }
      }


      /*BOX POPOUT ANIMATION*/
      @keyframes bounceInRight {
        from,
        60%,
        75%,
        90%,
        to {
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        from {
          opacity: 0;
          right: -3000px;
        }

        60% {
          opacity: 1;
          right: 25px;
        }

        75% {
          right: -20px;
        }

        90% {
          right: 10px;
        }

        to {
          right: 5px;
        }
      }

      @keyframes bounceInRightMob {
        from,
        60%,
        75%,
        90%,
        to {
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        from {
          opacity: 0;
          transform: translate3d(3000px, 0, 0);

        }

        60% {
          opacity: 1;
          transform: translate3d(-25px, 0, 0);

        }

        75% {
          transform: translate3d(10px, 0, 0);

        }

        90% {
          transform: translate3d(-5px, 0, 0);

        }

        to {
          transform: translate3d(0, 0, 0);

        }
      }

      /*Quiz Updates*/

      .quiz-result .form-footer{
        font-size: 0.9375em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #aaaaaa;
        max-width: 348px;
        display: block;
        margin: auto;
      }

      .quiz-modal .quiz-content .quiz-body .quiz-result .acform {
        margin-bottom: 0.875em;
      }

      /*Slide Show fix*/

      .product-morphing-side {
        pointer-events: none;
      }

      .product-morphing-side .content {
        pointer-events: auto;
      }

      /*Navigation button fix*/
      .nav-main ul {
        
      }

      @media only screen and (max-width: 767px) {
        .nav-main .cart-link {
          margin-right: 0;
        }
      }

      @media only screen and (min-width: 48em) {
        .nav-main .cart-link {
          margin-right: 1.27em;
        }
        .nav-main ul .tooltip-container {
          margin-left: 1.27em;
        }
      }

      #try-rasa-koffee-organic-adaptogenic-coffee-alternative .add-to-cart-footer {
        margin-bottom: 3.125em;
      }

      /*Mission Page*/
      .store .container {
        max-width: 61.625em;
        padding: 0em 15px;
      }
      .hero-mission .container {
        position: static;
      }

      .page-nav {
        margin-bottom: 3.3125em;
        z-index: 100;
        background: rgba(255, 255, 255, 0.95);
        position: absolute;
        left: 0;
        width: 100%;  

      }

      .page-nav.is-fixed {
        position: fixed;
        top: 88px;
        left: 0;
      }

      .page-nav .container {
        padding: 0;
      } 

      .page-nav a.is-active {
        color: #db7761 !important;
      }

      .page-nav a:active {
        color: #6a6a6a;
      }

      .page-nav ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 3.75em;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 0;
        padding-left: 0.31em;
      }


      .page-nav li {
        margin-right: 2.07em;
      }

      .page-nav li:last-child {
        margin-right: 0;
      }

      .page-nav a {
        font-size: 0.8125em;
        letter-spacing: 0.03846em;
        text-transform: uppercase;
        text-align: left;
        color: #6a6a6a;
      }

      .page-nav a:hover {
        color: #db7761;
      }

      .hero-mission {
        margin-bottom: 3.75em;
      }

      .hero-mission h1 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        font-size: 2.1875em;
        line-height: 1.09;
        color: #313e41;
        max-width: 584px;
        margin: auto;
        padding-top: 3.31em;

      }

      .hero-mission h1 .hero-title {
        font-family: "Cormorant Garamond";
        margin-bottom: 0.8571428571em;
        font-size: 1.1em;
        letter-spacing: normal;
      }

      .hero-mission h1 .lead {
        font-size: 0.5142857143em;
        line-height: 1.56;
        letter-spacing: -.2px;
        color: #4e686e;
        margin-bottom: 2.5em;
      }

      .hero-mission .indicator {
        text-align: center;
        opacity: 1;
        transition: all .5s ease-in;
        margin-top: 50px;
      }

      .hero-mission .indicator .indicator-down svg {
        overflow: visible;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      .section-story {
        position: relative;
      }

      .section-story .content-pinned.mobile {
        display: none;
      }

      .section-story .container {
        padding-top: 3.75em;
        padding-bottom: 2.5em;
        border-bottom: 1px solid #e9e9e9;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 55px;
      }

      .section-story .image-card {
        padding: 2.3125em;
        background: url({{ 'beans_2x.png' | asset_url }}) no-repeat center center;
        background-size: cover;
        position: relative;
        margin-top: 0.5em;
        max-width: 27.0625em;
        margin: auto;
        box-shadow: 0 15px 25px -15px rgba(28, 28, 28, 0.37);
      }

      .section-story .image-card .image-card-content {
        z-index: 2;
        position: relative;
      }

      .section-story .image-card h3 {
        font-size: 1.5625em;
        font-weight: normal;
        letter-spacing: -.8px;
        color: #373737;
      }

      .section-story .image-card ul.image-card-list {
        list-style-type: none;
        padding-left: 0;
        max-width: 286px;
        margin-bottom: 0;
        text-indent: 0;
      }

      .section-story .image-card ul.image-card-list li {
        font-size: 1.125em;
        line-height: 1.39;
        letter-spacing: -.2px;
        color: #373737;
        position: relative;
        padding-left: 1.8333333333em;
        margin-bottom: 0.7777777778em;
      }

      .section-story .image-card ul.image-card-list li:last-child {
        margin-bottom: 0;
      }

      .section-story .image-card ul.image-card-list li::before {
        content: "";
        display: inline-block;
        width: 19px;
        height: 16px;
        background: url({{ 'colored-check.png' | asset_url }}) no-repeat center center;
        position: absolute;
        top: 6px;
        left: 0;
      }

      .section-story .image-card figure {
        background: url({{ 'tea-cut_2x.png' | asset_url }}) no-repeat center right 77%;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        width: 130px;
        height: 100%;
        z-index: 1;
      }

      .section-story .content-scrolling ul {
        list-style-type: none;
        padding-left: 0;
        list-style-position: outside;
        margin-bottom: 1.75em;
        text-indent: 0;
      }

      .section-story .content-scrolling ul li {
        line-height: 1.5;
        position: relative;
        padding-left: 1.6875em;
        margin-bottom: 1.0625em;
        font-weight: 300;
      }

      .section-story .content-scrolling ul li:last-child {
        margin-bottom: 0;
      }

      .section-story .content-scrolling ul li::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 12px;
        background: url({{ 'darker-burst.svg' | asset_url }}) no-repeat center center;
        top: 5px;
        left: 0;
      }

      .section-story .content-scrolling blockquote {
        font-family: 'Georgia', serif;
        font-size: 1.125em;
        font-style: italic;
        line-height: 1.67;
        letter-spacing: -.2px;
        margin-bottom: 1em;
      }

      .section-story .content-scrolling blockquote p {
        margin-bottom: 0;
      }

      .section-story .content-scrolling .author-container {
        background: url({{ 'signature_2x.png' | asset_url }}) no-repeat, url({{ 'lopa-avatar_2x.png' | asset_url }}) no-repeat;
        height: 85px;
        position: relative;
        background-position-x: 68px, 0px;
        background-size: 108px, 85px;
      }

      .section-story .content-scrolling .author-container span {
        font-size: 0.875em;
        color: #4a4a4a;
        position: absolute;
        bottom: 0;
        left: 80px;
      }

      .section-cylinders {
        position: relative;
      }  

      .section-cylinders .container {
        padding-top: 6.25em;
        /*border-bottom: 1px solid #e9e9e9;*/
        padding-bottom: 0.1875em;
      }

      .section-cylinders h2 {
        text-align: center;
      }

      .section-cylinders h2 span {
        display: inline-block;
      }

      .section-cylinders h2 .title {
        margin-bottom: 0.7142857143em;
        font-family: "Cormorant Garamond";
        font-size: 1.4em;
        letter-spacing: normal;
      }

      .section-cylinders h2 .lead {
        font-size: 0.6em;
        max-width: 30em;
        margin-bottom: 0.625em;;
      }

      .cylinder-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 10.0625em;
      }

      .cylinder-card {
        border-radius: 4px;
        background-color: #ffffff;
        border: 1px solid #e2e1dd;
        padding: 1.25em;
        position: relative;
        background: url({{ 'green-beans_2x.png' | asset_url }}) no-repeat top center;
        background-size: 100% 128px;
      }

      .cylinder-card h4 {
        font-size: 1.125em;
        font-weight: bold;
        line-height: 1.11;
        letter-spacing: -.4px;
        color: #2f2e2c;
        font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      }

      .cylinder-card figure {
        min-height: 128px;
        text-align: center;
        border-radius: 4px;
      }

      .cylinder-card p {
        margin-bottom: 0;
      }

      .section-cylinders article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 58px;
        margin-bottom: 6em;
      }

      .section-cylinders article:nth-of-type(2) {
        margin-bottom: 4.2em;
      }

      .section-cylinders article h3 {
        font-size: 2.1875em;
        line-height: 1.09;
        letter-spacing: normal;
        color: #313e41;
      }

      .section-cylinders article ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0.5em;
        text-indent: 0;
      }

      .section-cylinders article ul li {
        line-height: 1.5;
        position: relative;
        padding-left: 1.6875em;
        margin-bottom: 1.0625em;
        list-style-type: none;
        margin-left: 0;
        font-weight: 300;
      }

      .section-cylinders article ul li::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 12px;
        background: url({{ 'darker-burst.svg' | asset_url }}) no-repeat center center;
        top: 5px;
        left: 0;
      }

      .section-cylinders article:first-of-type .article-content p:nth-child(3) {
        margin-bottom: 0.625em;
      }

      .section-cylinders article figure {
        margin-top: -3.8125em;
        position: relative;
        box-shadow: 0 15px 25px -15px rgba(28, 28, 28, 0.37);
        background: url('{{ 'man-in-herbs_3x.jpg' | asset_url }}') no-repeat center center;
          background-size: cover;
          position: relative;
          }

      .section-cylinders article:nth-of-type(2) figure::after {
        bottom: 0;
        z-index: -1;
      }

      .section-cylinders article:nth-of-type(2) figure {
        background: url({{ 'chaga-colored@2x.png' | asset_url }}) no-repeat center center,  url({{ 'small-green-beans@2x.png' | asset_url }}) no-repeat center center;
        background-size: 278px, cover;
        margin-top: -1.625em;
      }

      .section-cylinders article:nth-of-type(2) figure img {
        max-width: 278px;
      }

      figure figcaption {
        font-size: 0.875em;
        line-height: 1.43;
        letter-spacing: -.2px;
        text-align: center;
        color: #aeaeae;
        margin-top: 0.5em;
      }

      .section-cylinders figcaption {
        position: absolute;
        left: 0;
        bottom: -1.875em;
        width: 100%;

      }

      .section-packaging {
        position: relative;
      }   

      .section-packaging .container {
        padding-bottom: 4.25em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 58px;
        border-bottom:  solid 1px #e9e9e9;
      }

      .section-packaging .section-content p:last-child {
        margin-bottom: 5.8125em;
      }

      .section-packaging figure {
        background: url({{ 'package_3x.jpg' | asset_url }}) no-repeat center center;
        background-size: cover;
        min-height: 387.25px;
        box-shadow: 0 15px 25px -15px rgba(28, 28, 28, 0.37);
      }   

      .section-adaptogens {
        margin-bottom: 3.75em;
        position: relative;
      }

      .section-adaptogens .container {
        padding-top: 3.875em;
      }


      .section-adaptogens #adaptogens-dock {
        position: absolute;
        top: -40px;
      }

      .section-adaptogens .section-content, .section-antistress .section-content {
        max-width: 40em;
        margin: auto;
      }

      .section-adaptogens .section-content ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 2.71em;
        text-indent: 0;
      }

      .section-adaptogens .section-content ul li {
        line-height: 1.5;
        position: relative;
        padding-left: 1.6875em;
        margin-bottom: 1.0625em;
        list-style-type: none;
        margin-left: 0;
        font-weight: 300;
      }

      .section-adaptogens .section-content ul li::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 12px;
        background: url({{ 'darker-burst.svg' | asset_url }}) no-repeat center center;
        top: 5px;
        left: 0;
      }

      .section-adaptogens .section-content p:nth-child(4) {
        margin-bottom: 0.625em;
      }

      .section-adaptogens figure {
        max-width: 40.625em;
        margin: auto;
      }

      .section-antistress {
        margin-bottom: 0;
      }

      .mission-page-footer {
        padding:  3.8125em 0 3.125em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        position: relative;
      }

      .mission-page-footer .footer-content {
        max-width: 25.75em;
        margin: auto;
        text-align: center;
        z-index: 2;
        position: relative;
      }

      .mission-page-footer::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url({{ 'Tile_beans_1x.png' | asset_url }}) repeat, #22215f;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 1;
      }

      .mission-page-footer .footer-content .summary {
        font-family: "Valencia", serif;
        font-size: 2.1875em;
        line-height: 1.19;
        text-align: center;
        color: #ffffff;
        margin-bottom: 0.7142857143em;
      }

      .mission-page-footer .footer-content .summary span {
        text-decoration: underline;
      }

      .mission-page-footer .footer-content .lead {
        color: #ffffff;
        text-align: center;
        margin-bottom: 1.3333333333em;
      }

      .mission-page-footer .footer-content .button-facebook {
        font-size: 0.9375em;
        margin-bottom: 2em;
        padding: 0.9666666667em 0.6em;
        max-width: 360px;
        text-align: right;
      }

      .mission-page-footer .footer-content .button-facebook svg {
        width: 26px;
        height: 26px;
        top: 9px;
        left: 9px;
      }

      .mission-page-footer .disclaimer {
        font-family: 'Georgia', serif;
        font-size: 0.875em;
        line-height: 2.14;
        letter-spacing: -.2px;
        text-align: center;
        color: #ffffff;
        display: inline-block;
        opacity: .9;
        position: relative;
        z-index: 2;
      }

      .section-story #story-dock, .section-adaptogens #adaptogens-dock {
        position: absolute;
        top: -125px;
      }

      .section-cylinders #cylinders-dock, .section-packaging #packaging-dock {
        position: absolute;
        top: -85px;
      }

      .section-packaging #packaging-dock {
        top: -196px;
      }

      /*Mobile*/

      @media screen and (max-width: 48em) {

        body {
          font-size: 1em;
        }

        #mission .contactus {
          top: 280px;
        }

        .page-nav a:hover {
          color: #6a6a6a;
        }

        .page-nav.is-fixed {
          top: 62px;
        }

        .section-story .container {
          display: inherit;
        }

        .section-story .content-pinned {
          display: none;
        }

        .section-story .content-pinned.mobile {
          display: inherit;
        }

        .section-story .content-pinned.mobile {
          margin-bottom: 1.75em;
        }

        .section-story .content-scrolling ul li::before, .section-cylinders article ul li::before, .section-adaptogens .section-content ul li::before  {
          top: 3px;
        }

        .section-cylinders .container {
          padding-top: 4.875em;
        }

        .cylinder-cards-container {
          display: inherit;
          margin-bottom: 2.5em;
        }

        .cylinder-card {
          margin: auto;
          margin-bottom: 2.625em;
          max-width: 400px;
        }

        .section-cylinders article, .section-cylinders article:nth-of-type(2) {
          display: inherit;
          margin-bottom: 2.75em;
        }

        .section-cylinders article:nth-of-type(1) {
          margin-bottom: 2.125em;
          margin-bottom: 3.5em;
        }

        .section-cylinders article figure {
          margin-top: 0;
        }

        .section-cylinders article figure {
          max-width: 432px;
          margin: auto;
          min-height: 30.51em;
        }

        .section-cylinders article:nth-of-type(2) figure {
          margin-top: 0;
          min-height: 238px;
          background-size: 178px, cover;
        }

        .section-cylinders article:nth-of-type(2) figure img {
          max-width: 178px;
        }

        .section-cylinders article figure::after {
          bottom: 26px;
        }

        .section-packaging .container {
          padding-bottom: 2.2em;
          display: inherit;
        }

        .section-packaging .section-content p:last-child {
          margin-bottom: 2.90625em;
        }

        .section-adaptogens {
          margin-bottom: 1.75em;
        }

        .section-adaptogens .container {
          padding-top: 1.625em;
        } 

        .section-adaptogens .section-content ul {
          margin-bottom: 2.90625em;
        }

        .mission-page-footer .footer-content .button-facebook svg {
          top: 5px;
        }

        .mission-page-footer .footer-content .summary {
          font-size: 1.8875em;
        }

        .section-story #story-dock {
          top: -93px;
        }

        .section-packaging figure {
          min-height: 15.94em;
        }

        .section-adaptogens #adaptogens-dock {
          top: -113px;
        }

        .section-cylinders #cylinders-dock {
          top: -70px;
        }

        .section-packaging #packaging-dock {
          top: -132px;
        }

      }

      @media screen and (max-width: 30em) {

        .section-story .image-card figure {
          opacity: .5;
        }

        .page-nav a {
          font-size: 0.6875em;
        }

        .page-nav li {
          margin-right: 1em;
        }
      }

      /*tooltip fix*/

      @media screen and (min-width: 881px) {
        .tooltip-cta {
          width: calc(100% - 208px - 4em);
        }
      }

      /*Submenu*/ 

      .nav-main ul li.has-sub-menu {
        position: relative;
      }

      .nav-main ul li.has-sub-menu > a {
        padding: .9em 0;
      }

      .nav-main ul li:hover .sub-menu {
        opacity: 1;
        top: 1.325em;
        top: 21.2px;
        pointer-events: auto;
      }

      .nav-main ul li:hover .sub-menu a {
        //transition: none;
      }

      .nav-main ul li .sub-menu {
        position: absolute;
        top: 1.05em;
        top: 16.8px;
        opacity: 0;
        pointer-events: none;
        background: #fff;
        left: -0.25em;
        left: -4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: all 0.275s ease-in-out;
        z-index: 10;
        border-radius: 3px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
        margin-top: 10px;
        padding: 1em;
        min-width: 230px;
        float: none;
        display: block;
      }

      .nav-main ul li .sub-menu::before {
        content: '';
        position: absolute;
        left: 1.05em;
        left: 16.8px;
        margin-top: -22px;
        background: white;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }


      .nav-main ul li .sub-menu li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-left: 0;
        float: none;
        padding-left: 0.3125em;
      }

      .nav-main ul li .sub-menu li:last-child {
        border-bottom: none;
      }

      .nav-main ul li .sub-menu li a {
        display: block;
        padding: 0.66667em 0;
        color: #262626;
        background: #fff;
        text-transform: none;
      }

      .nav-main ul li .sub-menu li a:hover {
        color: #db7761;
      }


      .nav-main ul li .sub-menu li:first-child a {
        padding-top: 0;
      }

      .nav-main ul li .sub-menu li:last-child a {
        padding-bottom: 0;
      }


      @media only screen and (max-width:812px){

        .nav-main .nav-logo {
          top: 8px;
        }
      } 

      /*Mobile Menu*/

      .cart-link .cart-text {
        position: relative;
        top: -7px;
      }
      #nav-trigger,
      .nav-main .container .menu-button {
        display: none;
      }
      #nav-trigger {
        position: relative;
      }
      #nav-trigger span {
        margin-top: 9px;
      }
      #nav-trigger span,
      #nav-trigger span:before,
      #nav-trigger span:after {
        cursor: pointer;
        height: 5px;
        width: 30px;
        border-radius: 4px;
        background: #17a7a1;
        position: absolute;
        display: block;
        content: '';
        transition: all 500ms ease-in-out;
      }
      #nav-trigger span:before {
        top: -9px; 
      }
      #nav-trigger span:after {
        bottom: -9px;
      }      
      @media screen and (max-width: 768px) {

        .nav-main {
          z-index: 99999;
        }

        .nav-main ul {
          display: flex;
          justify-content: flex-end;
          flex-flow: column;
          position: absolute;
          background: white;
          padding: 1.125em;
          max-height: 400px;
          right: 1em;
          top: 40px;
          width: 236px;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
          background: #ffffff;
          border-radius: 3px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          transition: all .3s;
          text-indent: 0;
          z-index: 920;
          font-size: 1rem;
          opacity: 0;
          pointer-events: none;
          min-width:inherit !important;
        }

        .nav-main ul.is-active {
          opacity: 1;
          pointer-events: auto;
          top: 45px;
        }


        .nav-main ul::before {
          content: '';
          position: absolute;
          background: white;
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-left: 1px solid rgba(0, 0, 0, 0.1);
          top: -6px;
          right: 1.225em;
        }

        .nav-main ul li {
          margin-left: 0;
          display: inherit;
          line-height: 1.361;
          border-bottom: solid 1px #e9e9e9;
          width: 100%;
          transition: all .1s;
          font-size: 1em;
          padding: 0.57143em 0;
          position: relative;
        }

        .nav-main ul li a {
          text-transform: none;
          width: 100%;
        }

        .nav-main ul li:first-child {
          padding: 0 0 0.57143em;
        }

        .nav-main ul li:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }

        .nav-main ul li.has-sub-menu {
          display: flex;
          flex-flow: column;
        }

        .nav-main ul li.has-sub-menu.is-active {
          border-color: transparent;
        }

        .nav-main ul li.has-sub-menu.is-active > a {
          color: #db7761 !important;
        }

        .nav-main ul li.has-sub-menu > a {
          padding: 0;
          position: relative;
        }

        .nav-main ul li.has-sub-menu > a:hover {
          color: #313e41;
        }

        .nav-main ul li.has-sub-menu > a::after {
          content: "";
          border: solid #525252;
          border-width: 0 1px 1px 0;
          display: inline-block;
          padding: 3.36px;
          position: absolute;
          top: 4px;
          right: 1px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .nav-main ul li .sub-menu {
          border: none;
          position: static;
          z-index: auto;
          opacity: 1;
          box-shadow: none;
          margin: 0;
          min-width: inherit;
          padding: 0;
          background: #f8fafb;
          margin: 0.57143em 0 0;
          width: 236px;
          padding-left: 0.85714em;
          box-sizing: border-box;
          display: none;
        }

        .nav-main ul li.has-sub-menu.is-active .sub-menu {
          display: block;
        }


        .nav-main ul li .sub-menu::before {
          content: none;
        }

        .nav-main ul li .sub-menu li, .nav-main ul li .sub-menu li:first-child  {
          padding:  0.57143em 0;
          width: auto;
          box-sizing: border-box;
          height: 32.52px;
          line-height: 1;
        }

        .nav-main ul li .sub-menu li a {
          padding: 0;
          background: none;
        }
        #nav-trigger,
        .nav-main .container .menu-button {
          display: block;
          position: absolute;
          font-size: 0.95em;
          letter-spacing: 0.05em;
          color: #17a7a1;
          height: 30px;
          line-height: 30px;
          border-radius: 3px;
          padding: 0 0.66667em;
          right: 1.33333em;
          text-transform: uppercase;
          top: 4px;
        }
        #nav-trigger {
          width: 30px;
          right: 0.8em;
          top: 10px;
        }
        .nav-main .container .menu-button {
          right: 8em !important;
          background-color: #17a7a1;
          color: #ffffff;
        }
        .cart-link .cart-text {
          top: 0;
          left: -7px;
        }

        .cart-link svg {
          top: 4px;
        }
      }

      @media only screen and (max-width: 769px){
        .basket-count {
          display:none !important;
        }
      }

      @media only screen and (min-width: 30em) {

        .logotype, .blog-nav .title-logo {
          height: 24px;
          width: 90px;
        }
      }

      @media only screen and (min-width: 769px) {

        .logotype, .blog-nav .title-logo {
          height: 30px;
          width: 120px;
        }
      }

      /*Cart link fix*/



      @media screen and (min-width: 769px) {

        .nav-main .cart-link {
          margin-left: 0.91em;
        }

        .cart-link svg {
          left: 6px;
        }
      }



    </style>


    <script src="https://use.fontawesome.com/8d18b559fd.js"></script>


    {% include "loyaltylion" %}
    <script type="text/javascript">
      (function(i,n,t,e,r,a,c){i['InteractPromotionObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=n.createElement(t),
        c=n.getElementsByTagName(t)[0];a.async=1;a.src=e;c.parentNode.insertBefore(a,c)
                              })(window,document,'script','https://i.tryinteract.com/promotions/init.js','i_promo');
      i_promo('init', 'Cr1Gq1s7P');
    </script>

    <!-- Active Campaign Site Tracking -->
    <script type="text/javascript">
      // Set to false if opt-in required
      var trackByDefault = true;

      function acEnableTracking() {
        var expiration = new Date(new Date().getTime() + 1000 * 60 * 60 * 24 * 30);
        document.cookie = "ac_enable_tracking=1; expires= " + expiration + "; path=/";
        acTrackVisit();
      }

      function acTrackVisit() {
        var trackcmp_email = '';
        var trackcmp = document.createElement("script");
        trackcmp.async = true;
        trackcmp.type = 'text/javascript';
        trackcmp.src = '//trackcmp.net/visit?actid=223580513&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
        var trackcmp_s = document.getElementsByTagName("script");
        if (trackcmp_s.length) {
          trackcmp_s[0].parentNode.appendChild(trackcmp);
        } else {
          var trackcmp_h = document.getElementsByTagName("head");
          trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
        }
      }

      if (trackByDefault || /(^|; )ac_enable_tracking=([^;]+)/.test(document.cookie)) {
        acEnableTracking();
      }
    </script>

    <!-- Hotjar Tracking Code for www.wearerasa.com -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1250542,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


  <!-- Yandex.Metrika counter -->{% include 'yandex-metrica' %}<!-- /Yandex.Metrika counter -->
</head>

  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRW8J6W"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'site-nav' %}

    {{ content_for_layout }}


    {{ 'shop.js'  | asset_url | script_tag }}
    {{ 'lightbox.js'  | asset_url | script_tag }}
    {{ 'theme.min.js'  | asset_url | script_tag }}



    {% include 'subscription-theme-footer' %}

    <script type="text/javascript" data-cfasync="false">
      (function(W,i,s,e,P,o,p){W['WisePopsObject']=P;W[P]=W[P]||function(){
        (W[P].q=W[P].q||[]).push(arguments)},W[P].l=1*new Date();o=i.createElement(s),
        p=i.getElementsByTagName(s)[0];o.async=1;o.src=e;p.parentNode.insertBefore(o,p)
                              })(window,document,'script','//loader.wisepops.com/get-loader.js?v=1&site=ZQqamfAVgm','wisepops');
    </script>


    <!-- WPD Start -->
    {% if customer.tags.size > 0 and template != 'cart' %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var x=document.querySelectorAll("input[name='checkout'], button[name='checkout'], input[name='goto_pp'], button[name='goto_pp'], input[name='goto_gc'], button[name='goto_gc'], [href$='checkout']");
        var WPD_RedirectToCart = function(e) {
          e.preventDefault();
          window.location = '/cart';;
        };
        for (var i = 0; i < x.length; i++) {
          x[i].addEventListener('click', WPD_RedirectToCart, false);
        }
      });
    </script>
    {% endif %}

    {% if customer.tags.size > 0 and template == 'cart' %}
    {% include 'wcp_cart' %}
    {% endif %}
    <!-- WPD End -->

    {% include 'smile-initializer' %}

    <!-- Warning: Do not remove. This is used for CartHook Checkout Replacement -->
    {% capture the_snippet_content %}{% include 'carthook-checkout' %}{% endcapture %} {% unless the_snippet_content contains "Liquid error" %} {% include 'carthook-checkout' %} {% endunless %}
    <!-- Warning: Do not remove. This is used for CartHook Checkout Replacement -->
 	
    {{ 'ajaxinate.min.js' | asset_url | script_tag }}
    
  </body>
</html>