<div class="col-md-8">
  <h4>NOW READING</h4>
  <div class="section-header">
    <h1 class="article__title">{{ article.title }}</h1>
    {% if section.settings.show_share_buttons %}
      {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
    {% endif %}
  </div>
  {% if article.tags.size > 0 %}
    <div class="article__tags rte">
      {% for tag in article.tags %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} | {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
  {% if section.settings.blog_show_author %}
    <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
  {% endif %}

  {% if section.settings.blog_show_date %}
    <span class="article__date">
      {{ article.published_at | time_tag: format: 'date' }}
    </span>
  {% endif %}
  
  <div class="rte">
    {{ article.content }}
  </div>
  <div class="blogs-pagination">
  {% if blog.previous_article %}
    <div class="next">
      <a href="{{ blog.previous_article }}" class="btn next-post" style="float: left">Next Post</a>
      <div class="next-right">
        <a class="next-title" href="{{ blog.previous_article.url }}">{{ blog.previous_article.title }}</a>
        {% if article.tags.size > 0 %}
          <div class="article__tags rte">
            {% for tag in article.tags %}
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} | {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if blog.next_article %}
    <div class="previous">
  	  <a href="{{ blog.next_article }}" class="btn previous-post" style="float: right">Previous Post</a>
      <div class="previous-left">
        <a class="previous-title" href="{{ blog.next_article.url }}">{{ blog.next_article.title }}</a>
        {% if article.tags.size > 0 %}
          <div class="article__tags rte">
            {% for tag in article.tags %}
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} | {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  </div>
</div>

<div class="col-md-4 popular-post">
    <h3>popular posts</h3>
    {% for article in blog.articles limit:5 %}
      <a href="{{ article.url }}">
        <h2  class="article__title h3">{{ article.title }}</h2>
      </a>
      {% if article.tags.size > 0 %}
      <div class="article__tags rte">
        {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} | {% endunless %}
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
</div>



{% schema %}
{
  "name": {
    "da": "Opslag",
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fi": "Julkaisut",
    "fr": "Articles",
    "hi": "पोस्ट",
    "it": "Articoli",
    "ja": "投稿",
    "ko": "게시물",
    "ms": "Siaran",
    "nb": "Innlegg",
    "nl": "Berichten",
    "pt-BR": "Posts",
    "pt-PT": "Publicações",
    "sv": "Inlägg",
    "th": "โพสต์",
    "zh-CN": "文章",
    "zh-TW": "貼文"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "hi": "लेखक दिखाएं",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "ms": "Tunjukkan pengarang",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "hi": "दिनांक दिखाएं",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "ms": "Tunjukkan tarikh",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "ms": "Tunjukkan butang perkongsian sosial",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    }
  ]
}
{% endschema %}
