<section class="guarantee">
<div class="container">
		<h2 class="guarantee-title">We’re pretty into that whole “walk your talk” thing, & Rasa will always be:</h2>    

	<div class="icons-container">   
      <figure class="icon-column">
    	<img src="{{ 'icon-organic.png' | asset_url }}" width="70px" height="70px">
    	<figcaption><p class="icons-caption">CERTIFIED ORGANIC</p></figcaption>
	  </figure>
      <figure class="icon-column">
    	<img src="{{ 'icon-whole30.png' | asset_url }}" width="70px" height="70px">
    	<figcaption><p class="icons-caption">WHOLE30</p></figcaption>
	  </figure>
	  <figure class="icon-column">
   		<img src="{{ 'icon-lab.png' | asset_url }}" width="70px" height="70px">
    	<figcaption><p class="icons-caption">3RD PARTY LAB TESTED</p></figcaption>
	  </figure>
      <figure class="icon-column">
   		<img src="{{ 'icon-gf.png' | asset_url }}" width="70px" height="70px">
    	<figcaption><p class="icons-caption">GLUTEN FREE</p></figcaption>
	  </figure>
      <figure class="icon-column">
   		<img src="{{ 'icon-sugarfree.png' | asset_url }}" width="70px" height="70px">
    	<figcaption><p class="icons-caption">SUGAR FREE</p> </figcaption>
	  </figure>
      <figure class="icon-column">
   		<img src="{{ 'icon-vegan1.png' | asset_url }}" width="70px" height="70px">
    	<figcaption><p class="icons-caption">VEGAN</p> </figcaption>
	  </figure>
	</div>
  
  </div>
</section>

{% schema %}
   {
    "name": "Guarantee",
    "settings": [
		{
			"type":"text",
			"id":"main_title",
			"label":"Heading"
		}
	],
	"blocks":[
		{
			"type":"text",
			"name":"Guarantee icons",
			"settings":[
				{
					"type":"image_picker",
					"id":"icons_image",
					"label":"Icon Image"
				},
				{
                    "type":"text",
                    "id":"icon_name",
                    "label":"Name"
                }
			]
		}
	],
"presets":[
		{
			"category":"Custom Content",
			"name":"Guarantee Icons"
		}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}