<section class="hero-homepage" style="background-image:url('{{ section.settings.banner_image | img_url: 'master' }}');">
  <!--
  <div class="top-banner">
       <div class="container">
        <h1>{{ section.settings.title}}</h1>
        <p>{{ section.settings.content}}</p>
        <a href="{{ section.settings.banner_shopall_url}}" class="button-red" >{{ section.settings.btn_label }}</a>
    </div> 
  </div>
  
  -->
  
</section>


{% schema %}
{
    "name": "Banner",
    "settings": [
		{
			"type":"image_picker",
			"id":"banner_image",
			"label":"Banner Image"
		},
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"textarea",
			"id":"content",
			"label":"Heading"
		},
		{
			"type":"text",
			"id":"btn_label",
			"label":"Button Label"
		},
		{
      "id": "banner_shopall_url",
      "type": "url",
      "label": "Button link"
    }
	],
"presets":[
		{
			"category":"Custom Content",
			"name":"Banner"
		}
]
  }
{% endschema %}

<script>
  
  $(".indicator-down,.cus-learn-more").click(function() {
    $('html, body').animate({
        scrollTop: $(".custom-content-scroll").offset().top - -50 }, 1000);
});
</script>




