<section class="section-ingredients custom-{{ section.id }}" id="allergens">
  <div class="container-fluid">
   
    <div class="allergens-container">
      <div class="content-scrolling {% if section.settings.alignment == 'left' %}left-align {% else right-align %} right-align{% endif %}">
        <div class="sectioningredients-content">
        <h2>{{ section.settings.title }}</h2>
        <p class="lead">
          {{ section.settings.content }} 
          
        </p>
        </div>
      </div>
       <div class="content-custom {% if section.settings.alignment == 'left' %}left-align {% else right-align %} right-align{% endif %}">
        <figure>        
          <img class="img-under left" src="{{ section.settings.image | img_url:'master'}}" alt="Rasa Coffee Alternatives">
        </figure>
      </div>
    </div>
	 <p class="allergens-btn">
        <a href="{{ section.settings.buy_now }}" class="button-red">{{ section.settings.btn_label }}</a>
      </p>
  </div>
</section>

{% schema %}
  {
    "name": "Product",
    "settings": [
       
		{
			"type": "text",
			"id": "title",
			"label":"Title"
		},
		{
			"type":"textarea",
			"id":"content",
			"label":"Product Content"
		},
		 {
			"type":"image_picker",
			"id": "image",
			"label":"Image"
        },
		{
			"type":"select",
			"id":"alignment",
			"label":"Image Alignment",
			"options":[
				{
					"value":"left",
					"label":"Left"
				},
				{
					"value":"right",
					"label":"Right"
				}
			],
			
   			"default": "left"
		},
		{
			"type": "text",
			"id": "btn_label",
			"label":"Button Label"
		},
		{
			"type":"url",
			"id":"buy_now",
			"label":"Link"
		}
],
"presets":[
		{
			"category":"Custom Content",
			"name":"Custom Content"
		}
]
  }
{% endschema %}
