<section class="sectioningredients" id="depth-3">
  <div class="container-fluid depth-container">
    <div class="starter-product-image">
      	<img src="{{ section.settings.product_image | img_url:'master' }}">
    </div>

    <div class="content-scrolling">
      <div class="sectioningredients-content">
      <h2>{{ section.settings.product_title }}</h2>
      <p>{{ section.settings.product_content }}</p>
      <a href="{{ section.settings.buy_now }}" class="button-red">{{ section.settings.btn_label }}</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product",
    "settings": [
        {
			"type":"image_picker",
			"id": "product_image",
			"label":"Product image"
        },
		{
			"type": "text",
			"id": "product_title",
			"label":"Product Title"
		},
		{
			"type":"textarea",
			"id":"product_content",
			"label":"Product Content"
		},
		{
			"type": "text",
			"id": "btn_label",
			"label":"Button Label"
		},
		{
			"type":"url",
			"id":"buy_now",
			"label":"Buy now"
		}
],
"presets":[
		{
			"category":"Product",
			"name":"Starter Product"
		}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
