<div class='ritual-section'>
	<div class='page-width'>
  		{%- if section.settings.ritualtitle != blank -%}
      		<h4 class="text-center">{{ section.settings.ritualtitle | escape }}</h4>
    	{%- endif -%}
		{%- if section.settings.ritualhead != blank -%}
      		<h2 class="text-center">{{ section.settings.ritualhead | escape }}</h2>
      	{%- endif -%}
      <div class="ritual-rasa">
      	<div class="ritual-slider">
      		{%- for block in section.blocks -%}
          		<div class="ritual-block">
                  <div class="col-md-6 ritual-content ritual-text">
                    <div class="ritualslide-content">
                  		{%- if block.settings.ritualimage != blank -%}
                      		<img src="{{ block.settings.ritualimage | img_url: 'master' }}">
                  		{%- endif -%}
                     	{%- if block.settings.text != blank -%}
                    		{{ block.settings.text }}
                     	{%- endif -%}
                    </div>
                  </div>
                  <div class="col-md-6 ritual-content ritual-image">
                  {%- if block.settings.ritualslide != blank -%}
                      <img src="{{ block.settings.ritualslide | img_url: 'master' }}">
                  {%- endif -%}
                  </div>  
          		</div>
          	{%- endfor -%}
      	</div>
      		{% if section.settings.rituallink != blank %}
				<a class="benefit-link" href="{{ section.settings.rituallink }}">{{ section.settings.btntxt }}</a>
		 	{% endif %}
                      <div class="ritual-imagebanner">
                        {%- if section.settings.ritualimage != blank -%}
                            <img src="{{ section.settings.ritualimage | img_url: 'master' }}">
                        {%- endif -%}
                      </div>
  	</div>
  </div>
</div>


{% schema %}
  {
    "name": "ritual name",
    "settings": [
        {
          "type": "text",
          "id": "ritualtitle",
          "label": "heading"
        },
        {
          "type": "text",
          "id": "ritualhead",
          "label": "ritualhead"
        },
          {
          "type": "url",
          "id": "rituallink",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "btntxt",
          "label": "Button Text"
        },
        {
          "type": "image_picker",
          "id": "ritualimage",
          "label": "ritualimage"
        }
    ],
	"blocks": [
      {
        "type": "image",
        "name": "shopslide",
        "settings": [
          {
            "type": "image_picker",
            "id": "ritualslide",
            "label": "ritualslide"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "text"
          },
          {	
            "type": "image_picker",
            "id": "ritualimage",
            "label": "ritualimage"
          }
        ]
      }
	],
	"presets": [
    {
      "name": "our ritual section",
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "ms": "Imej",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
