{% comment %} 
  Name: Signup Section
  Version: 1.0
{% endcomment %}

{% assign blockName = section.settings.title | downcase | replace: " ", "-" %}
<div class="signup-section block-{{ blockName }}">

    <div class="block-content">
      {% if section.settings.title %}
        <h3 class="block-title block-title-{{ blockName }} text-center">{{ section.settings.title }}</h1>
      {% endif %}

      {% if section.settings.signup-text %}
          <p class="signup-text">{{ section.settings.signup-text }}</p>
      {% endif %}
      <div class="klaviyo-form-MDHntb"></div>
    </div>

</div>

{% schema %}

{
  "name": "Signup Block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "text",
      "id": "signup-text",
      "label": "Text"
    }, {
      "type": "color",
      "id": "block-background-color",
      "label": "Background color",
      "default": "#008B8F"
    }
  ],
  "presets": [
    {
      "name": "Signup Block",
      "category": "Layout"
    }
  ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
  .block-section {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .block-title {
    color: #17A7A1;
    font-family: Recoleta;
    font-size: 50px;
    text-transform: uppercase;
  }

  .signup-section {
    height: 420px;
    padding: 60px 0;
  }

  .block-{{blockName}} {
    background-color: {{ section.settings.block-background-color }};
  }

  .signup-text {
    color: #17A7A1;
  }

  .signup-text { text-align: center; }

  /* Klavyio Customisation */
  .signup-section form {
    max-width: 80% !important;
  }

  .Ndwyt.Ndwyt { flex-flow: wrap; }

  .kgtZaW:first-child { width: 60%; }

  .kgtZaW:nth-child(2) { width: 40%; }
  
  /* Email Input */
  .signup-section input[type="email"] {
    background-color: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: 2px solid #17A7A1 !important;
    border-left: none !important;
    border-radius: 0 !important;
    height: auto !important;
    padding: 15px 30px 15px 0 !important;
  }

</style>