{% comment %} 
  Name: Signup Section
  Version: 1.0
{% endcomment %}

{% assign blockName = section.settings.title | downcase | replace: " ", "-" %}
<div class="signup-section block-{{ blockName }}">

    <div class="block-content">
      {% if section.settings.title %}
        <h3 class="block-title block-title-{{ blockName }} text-center">{{ section.settings.title }}</h1>
      {% endif %}

      {% if section.settings.subtitle %}
        <h3 class="block-subtitle block-subtitle-{{ blockName }} text-center">{{ section.settings.subtitle }}</h1>
      {% endif %}

      {% if section.settings.signup-text %}
          <p class="signup-text">{{ section.settings.signup-text }}</p>
      {% endif %}
      <div class="klaviyo-form-MDHntb"></div>
    </div>

</div>

{% schema %}

{
  "name": "Signup Block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }, {
      "type": "text",
      "id": "signup-text",
      "label": "Text"
    }, {
      "type": "color",
      "id": "block-background-color",
      "label": "Background color",
      "default": "#008B8F"
    }
  ],
  "presets": [
    {
      "name": "Signup Block",
      "category": "Layout"
    }
  ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
  .block-section {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .block-title {
    color: #17A7A1;
    font-family: Recoleta;
    font-size: 50px;
    text-transform: uppercase;
  }

  .block-subtitle {
    max-width: 650px;
    width: 100%;
    text-align: center !important;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 30px;
    color: #0e6460;
  }

  .signup-section {
    height: 420px;
    padding: 60px 0;
  }

  .block-{{blockName}} {
    background-color: {{ section.settings.block-background-color }};
  }

  .signup-text {
    color: #17A7A1;
  }

  .signup-text { text-align: center; }

  /* Klavyio Customisation */
  .signup-section form {
    max-width: 650px !important;
    width: 100% !important;
    margin: 0 auto !important;
  }

  .Ndwyt.Ndwyt {
    flex-flow: wrap;
    position: relative;
    bottom: 30px;
    }

  .kgtZaW:first-child {
    width: 66%;
    }

  .kgtZaW:nth-child(2) {
    width: auto;
    margin-left: auto;
    }
  
  /* Email Input */
  .signup-section input[type="email"] {
    background-color: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: 2px solid #17A7A1 !important;
    border-left: none !important;
    border-radius: 0 !important;
    padding: 0 15px 0 0px !important;
    position: relative;
    bottom: 25px;
    margin-right: 2%;
  }

  .signup-section button {
    border-radius: 6px !important;
    border: 2px solid #fff !important;
    display: table !important;
    margin: 0 auto !important;
    padding: 24px 40px 24px 40px !important;
    font-size: 18px !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 9 !important;
    width: auto !important; 
    text-transform: uppercase;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px !important;
    -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px !important;
    -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px !important;
    transition-duration: 0.3s !important;
    -moz-transition-duration: 0.3s !important;
    -webkit-transition-duration: 0.3s !important;
  }

  .signup-section button:active,
  .signup-section button:hover,
  .signup-section button:focus {
    -moz-box-shadow: 0px 0px 0px 0px !important;
    -webkit-box-shadow: 0px 0px 0px 0px !important;
    box-shadow: 0px 0px 0px 0px !important;
    position: relative !important;
    top: 10px !important;
    left: 5px !important;
    transition-duration: 0.3s !important;
    -moz-transition-duration: 0.3s !important;
    -webkit-transition-duration: 0.3s !important;
  }

  .signup-text { color: #000; }

  .signup-section .ql-editor {
    position: absolute !important;
    width: 100% !important;
    text-align: center !important;
    left: 17% !important;
  }

  @media( max-width: 749px ) {
    .kgtZaW:first-child {
      margin-top: 50px;
      margin-left: 0;
      width: 100%;
      }

    .kgtZaW:nth-child(2) {
      margin-top: -50px;
      width: 100%;
      }
  }

  @media( max-width: 375px ) {
    .signup-section {
      height: 500px;
    }
  }

</style>