{% comment %} 
  Name: Ingredients Section
  Version: 1.0
{% endcomment %}

{% assign blockName = section.settings.title | downcase | replace: " ", "-" %}
<div class="ingredients-section block-{{ blockName }}">

    <div class="block-content">
        {% if section.settings.subtitle %}
          <h4 class="block-subtitle block-subtitle-{{ blockName }} text-center">{{ section.settings.subtitle }}</h2>
        {% endif %}
    
        {% if section.settings.title %}
          <h3 class="block-title block-title-{{ blockName }} text-center">{{ section.settings.title }}</h1>
        {% endif %}
    
        <ul class="ingredient-list">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'ingredient-items' %}
                  <li class="ingredient-item ingredient-{{ block.settings.ingredientName | downcase | replace: " ", "-" }}" data-popup="modal-{{ block.settings.ingredientName | downcase | replace: " ", "-" }}">
                    {% if block.settings.ingredientImage %}
                      <img src="{{ block.settings.ingredientImage | img_url: "master" }}" class="ingredient-image">
                    {% endif %}
                    
                    {% if block.settings.ingredientName %}
                      <p class="ingredient-name">{{ block.settings.ingredientName }}</p>
                    {% endif %}

                    {% if block.settings.ingredientDesc != blank %}
                    <div class="modal-description modal-{{ block.settings.ingredientName | downcase | replace: " ", "-" }}">
                      <div class="ingredient-description ingredient-{{ block.settings.ingredientName | downcase | replace: " ", "-" }}-description">
                        <span class="modal-close">X</span>
                        <p class="description">{{ block.settings.ingredientDesc }}</p>
                      </div>
                    </div>
                    {% endif %}
                  </li>
              
        {% endcase %}
      {% endfor %}
    </ul>
      </div>

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'top-left-image' %}
        {% assign tli = block.settings.topLeftImage %}
        <span class="ingredients-section-bkg top-left-image"></span>

      {% when 'top-right-image' %}
        {% assign tri = block.settings.topRightImage %}
        <span class="ingredients-section-bkg top-right-image"></span>

      {% when 'bottom-left-image' %}
        {% assign bli = block.settings.bottomLeftImage %}
        <span class="ingredients-section-bkg bottom-left-image"></span>

      {% when 'bottom-right-image' %}
        {% assign bri = block.settings.bottomRightImage %}
        <span class="ingredients-section-bkg bottom-right-image"></span>
    {% endcase %}
  {% endfor %}

</div>

{% schema %}

{
  "name": "Ingredients Block Content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }, {
      "type": "color",
      "id": "block-background-color",
      "label": "Background color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "top-left-image",
      "name": "Top Left Image",
      "limit": 1,
      "settings": [
        {
          "id": "topLeftImage",
          "type": "image_picker",
          "label": "Add Top Left Image"
        }
      ]
    }, {
      "type": "top-right-image",
      "name": "Top Right Image",
      "limit": 1,
      "settings": [
        {
          "id": "topRightImage",
          "type": "image_picker",
          "label": "Add Top Right Image"
        }
      ]
    }, {
      "type": "bottom-right-image",
      "name": "Bottom Right Image",
      "limit": 1,
      "settings": [
        {
          "id": "bottomRightImage",
          "type": "image_picker",
          "label": "Add Bottom Right Image"
        }
      ]
    }, {
      "type": "bottom-left-image",
      "name": "Bottom Left Image",
      "limit": 1,
      "settings": [
        {
          "id": "bottomLeftImage",
          "type": "image_picker",
          "label": "Add Bottom Left Image"
        }
      ]
    }, {
      "type": "ingredient-items",
      "name": "Ingredients",
      "limit": 6,
      "settings": [{
        "id": "ingredientName",
        "type": "text",
        "label": "Ingredient Name"
      }, {
        "id": "ingredientImage",
        "type": "image_picker",
        "label": "Add Ingredient Image"
      }, {
        "id": "ingredientDesc",
        "type": "text",
        "label": "Add Ingredient Description"
      }]
    }
  ],
  "presets": [
    {
      "name": "Ingredients Block",
      "category": "Layout"
    }
  ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
  .ingredients-section {
    height: 400px;
    position: relative;
    z-index: 99;
    padding: 50px 0;

  }

  .block-section {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .block-title {
    font-family: Recoleta;
    font-size: 50px;
  }

  .block-subtitle {
    text-transform: uppercase;
  }

  .ingredients-section .block-content {
    width: 90%;
    margin: 0 auto;
  }

  .block-{{blockName}} {
    background-color: {{ section.settings.block-background-color }};
  }

  .ingredients-section-bkg:before {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: "";
    width: 25%;
    height: 200px;
    z-index: -1;
  }

  .top-left-image:before {
    background-image: url( {{ tli | img_url: "master" }} );
    background-position: top left;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .top-right-image:before {
    background-image: url( {{ tri | img_url: "master" }} );
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
  }

  .bottom-right-image:before {
    background-image: url( {{ bri | img_url: "master" }} );
    background-position: bottom right;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bottom-left-image:before {
    background-image: url( {{ bli | img_url: "master" }} );
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
  }  

  .ingredient-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

  .ingredient-item {
    text-align: center;
    }

  .ingredient-image { width: 25%; }

  .ingredient-name {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .modal-description {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }

    .ingredient-description {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #fff;
      width: 80%;
      position: relative;
      top: 40%;
    }

    .modal-close {
      display: inline-block;
      text-transform: uppercase;
      color: #000;
      padding: 2px 6px;
      border: 2px solid #ccc;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 8px;
      cursor: pointer;
    }

    .hide { display: none; }
  
  @media( max-width: 749px ) {
    .ingredients-section {
      height: auto;
      padding-bottom: 50px;
    }

    .ingredient-list { 
      flex-wrap: wrap;
      margin: 10px 0;
    }

    .ingredient-item:active,
    .ingredient-item:hover
    .ingredient-item:focus { cursor: pointer; }

    .ingredient-item:nth-child(odd),
    .ingredient-item:nth-child(even) { flex: 50%; }
  }

</style>

<script>
  $(function() {
    $('.modal-description').hide();
  });

  if($(window).width() <= 749 ) {
    $('.ingredient-item').click(function(e){
    e.preventDefault();
    var t = '.' + $(this).data('popup');
    $(t).show();
  })

  $('.modal-close').click(function(ev){
    ev.stopPropagation();
    $(this).parent().parent().hide()
  })
  }
</script>