{% comment %} 
Name: Slideshow
Version: 1.0
{% endcomment %}

<h1>This is a Slider Block</h1>

{% schema %}

{
  "name": "Slideshow",
  "blocks": [
  {
    "type": "select",
    "name": "Add Item",
    "limit": 4,
    "settings": [
    {
      "type": "image_picker",
      "label": "Add Image",
      "id": "item-image"
    }, {
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    }, {
      "id": "btn-label",
      "type": "text",
      "label": "Button Label"
    }, {
      "id": "btn-link",
      "type": "url",
      "label": "Button link"
    }, {
      "type": "radio",
      "id": "btn-position",
      "label": "Change button alignment",
      "options": [
      {
        "value": "left",
        "label": "Left"
      }, {
        "value": "right",
        "label": "Right"
      }, {
        "value": "center",
        "label": "Center"
      }
      ]
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Slideshow",
    "category": "Layout"
  }
  ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}



{% endjavascript %}

<style>
  .block-section {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 50px 0;
  }
  
  .block-title {
    font-family: Recoleta;
    font-size: 50px;
  }
  
  .block-subtitle {
    text-transform: uppercase;
  }
  
  .block-content {
    {% case imagePosition %}
    {% when 'left' %}float: right;
    padding: 0 2%;
    width: 50%;
    {% when 'right' %}float: left;
    padding: 0 2%;
    width: 50%;
    {% else %}float: none;
    width: 100%;
    {% endcase %}
  }
  
  .block-section-image { 
    line-height: 0;
    top: 0;
    width: 50%;
  }
  
  .block-button {
    border-radius: 6px;
    display: table;
    margin: auto;
    padding: 12px 40px 12px 40px;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
  }
  
  .block-button:active,
  .block-button:hover,
  .block-button:focus {
    -moz-box-shadow: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
    position: relative;
    top: 10px;
    left: 5px;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
  }
  
  .block-{{blockName}} {
    background-color: {{ section.settings.block-background-color }};
  }
  
  .block-{{blockName}}-image:before {
    content: "";
    background-image: url({{ imageName | img_url: "master" }});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
  }
  
  .block-{{blockName}}-image.image-left {
    float: left;
    left: 0;
  }
  
  .block-{{blockName}}-image.image-right {
    float: right;
    right: 0;
  }
  
  .block-{{ blockName }}-button {
    background-color: {{ btnBkg }};
    border: 2px solid {{ btnColor }} !important;
    color: {{ btnColor }} !important;
  }
  
  .block-{{ blockName }}-button:active,
  .block-{{ blockName }}-button:hover,
  .block-{{ blockName }}-button:focus {
    /* border: 2px solid {{ btnColor }} !important;
    color: {{ btnColor }} !important; */
  }
</style>