{% comment %} 
Name: Slideshow
Version: 1.0
{% endcomment %}

{% if customer.id != null %}
<section class="slider-section">
  <ul class="slick-slider">
    
    {% for block in section.blocks %}
    
    <li class="slider-item slider-item-{{ forloop.index }}">
      <h3 class="slider-title">{{ block.settings.title }}</h3>
      
      {% if block.settings.heading != "" %}
      <p class="slider-desc slider-desc-{{ forloop.index }}">
        {{ block.settings.heading }}        
      </p>
      {% endif %}
      
      {% if block.settings.btn-link %}
      <div class="btn-section btn-section-{{ forloop.index }}">
        <a href="{{ block.settings.btn-link }}" class="button-red">{{ block.settings.btn-label }}</a>
      </div>
      {% endif %}
    </li>

    {% endfor %}
  </div>
</section>
{% endif %}
{% schema %}

{
  "name": "Slideshow",
  "blocks": [
  {
    "type": "select",
    "name": "Add Item",
    "limit": 4,
    "settings": [
    {
      "type": "image_picker",
      "label": "Add Image",
      "id": "item-image"
    }, {
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    }, {
      "type": "select",
      "id": "heading-position",
      "label": "Change heading alignment",
      "options": [
      {
        "value": "left",
        "label": "Left"
      }, {
        "value": "center",
        "label": "Center"
      }, {
        "value": "right",
        "label": "Right"
      }
      ]
    }, {
      "id": "btn-label",
      "type": "text",
      "label": "Button Label"
    }, {
      "id": "btn-link",
      "type": "url",
      "label": "Button link"
    }, {
      "type": "select",
      "id": "btn-position",
      "label": "Change button alignment",
      "options": [
      {
        "value": "left",
        "label": "Left"
      }, {
        "value": "center",
        "label": "Center"
      }, {
        "value": "right",
        "label": "Right"
      }
      ]
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Slideshow",
    "category": "Layout"
  }
  ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
  .slider-section,
  .slider {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .slick-slider { padding-left: 0; }
  
  .slider-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
    height: 520px;
  }
  
  .slider-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    font-family: Cormorant Garamond;
    margin-top: 50px;
  }
  
  {% for item in section.blocks %}
  .slider-item-{{ forloop.index }} {
    background-image:url({{ item.settings.item-image | img_url: "master" }});
  }
  {% endfor %}
  
  .slider-desc {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .slider-desc {
    color: #2f2e2c;
    font-size: 0.9375em;
    letter-spacing: -0.01333em;
    background-color: rgba(255,255,255,0.5);
    padding: 2% 5%;
    margin-top: 3%;
    margin-bottom: 2%;
  }

  .btn-section {
    width: 90%;
    margin: 0 auto;
  }
  
  {% for al in section.blocks %}
  .slider-desc-{{ forloop.index }} {
    text-align: {{ al.settings.heading-position }};
  }

  .btn-section-{{ forloop.index }} {
    text-align: {{ al.settings.btn-position }};
  }

  {% endfor %}
  
</style>

<script type="text/javascript">
  $(".slick-slider").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    autoplay: true,
    infinity: true,
    adaptiveHeight: true,
    dots: true,
    draggable: true,
    mobileFirst: true,
    speed: 500,
    fade: true,
    cssEase: 'linear'
  });
</script>