{% comment %} 
Name: Slideshow
Version: 1.0
{% endcomment %}

{% if customer.id != null %}
<section class="slider-section">
  <ul class="slick-slider">
    
    {% for block in section.blocks %}
    
    <li class="slider-item slider-item-{{ forloop.index }}">
      <div class="slider-content slider-content-{{ forloop.index }}">
        <h3 class="slider-title">{{ block.settings.title }}</h3>
        
        {% if block.settings.heading != "" %}
        <p class="slider-desc slider-desc-{{ forloop.index }}">
          {{ block.settings.heading }}        
        </p>
        {% endif %}
        
        {% if block.settings.btn-link %}
        <div class="btn-section btn-section-{{ forloop.index }}">
          <a href="{{ block.settings.btn-link }}" class="button-red">{{ block.settings.btn-label }}</a>
        </div>
        {% endif %}
      </div>
    </li>
    
    {% endfor %}
  </div>
</section>
{% endif %}
{% schema %}

{
  "name": "Slideshow",
  "blocks": [
  {
    "type": "select",
    "name": "Add Item",
    "limit": 4,
    "settings": [
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "item-image"
    }, {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "item-mobile-image"
    }, {
      "type": "select",
      "id": "content-alignment",
      "label": "Content alignment",
      "options": [
      {
        "value": "left",
        "label": "Left"
      }, {
        "value": "center",
        "label": "Center"
      }, {
        "value": "right",
        "label": "Right"
      }
      ]
    }, {
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    }, {
      "id": "btn-label",
      "type": "text",
      "label": "Button Label"
    }, {
      "id": "btn-link",
      "type": "url",
      "label": "Button link"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Slideshow",
    "category": "Layout"
  }
  ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
  .slider-section,
  .slider {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .slick-slider { padding-left: 0; }
  
  .slider-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
    height: 520px;
  }
  
  .slider-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: Cormorant Garamond;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  {% for item in section.blocks %}
  .slider-item-{{ forloop.index }} {
    background-image:url({{ item.settings.item-image | img_url: "master" }});
    justify-content: {{ item.settings.content-alignment }};
  }
  {% endfor %}

  .slider-item {
    display: flex !important;
    align-content: center;
    align-items: center;
  }

  .slider-content {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .slider-desc {
    color: #2f2e2c;
    font-size: 0.9375em;
    letter-spacing: -0.01333em;
    padding: 2% 5%;
    text-align: center;
  }
  
  .btn-section { text-align: center; }

  
  .slick-dots { bottom: 25px; }
  
  .slick-dots li { margin: 0; }
  
  .slick-dots li.slick-active button::before {
    color: #fff;
  }
  
  @media( max-width: 812px ) {
    {% for item in section.blocks %}
      .slider-item-{{ forloop.index }} {
        background-image:url({{ item.settings.item-mobile-image | img_url: "master" }});
        justify-content: {{ item.settings.content-alignment }};
      }
    {% endfor %}

    .slider-content {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>

<script type="text/javascript">
  $(".slick-slider").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    autoplay: true,
    infinity: true,
    adaptiveHeight: true,
    dots: true,
    draggable: true,
    mobileFirst: true,
    speed: 500,
    fade: true,
    cssEase: 'linear'
  });
</script>