

{% include 'subscription-cart-footer' %}

<!-- sh_sub-added -->
{% include 'sh_sub-cart-snippet' %}
<!-- /sh_sub-added -->
<style>
p.error {
    color: #912F56;
    margin-bottom: 1em;
}
.cart-right {
    width: 100%;
}

@media screen and (min-width: 820px) {
    .cart-right {
   		width: calc(100% - 400px);
    	padding-left: 1em;
    	box-sizing: border-box;
	}
}

@media screen and (max-width: 819px) {
    .cart-left {
    	max-width: 100% !important;
    	margin-top: 1em;
	}
  
  .cart-right {
    	width: 100%;
    	text-align: left !important;
    	margin-top: 1em;
	}
}
</style>

{% include 'bold-cart' %}
<section class="hero-shop cart-title" style="margin-bottom: 1.5em;">
  <div class="container">
    <h1>
      Shopping Cart
    </h1>
    <p class="lead" style="max-width: 470px; margin: 0 auto;">
      Ready to nourish those adrenals using the 5,000-year-old wisdom of Indian & Chinese herbalism? Great!
    </p>
    <br>
    <p class="lead" style="max-width: 470px; margin: 0 auto;">
      If you have a coupon code that you would like to use, please proceed to the checkout page to apply your discount!
    </p>
  </div>
</section>

{% if cart.item_count > 0 %}

<div class="container">
  <form action="/cart" method="post">

  <div class="cart-container">
    <table>

      <thead>
        <tr>
          <th class="hide-on-small">Item</th>
          <th>&nbsp;</th>
          <th class="hide-on-small">Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>

      {% for item in cart.items %}
        {% include 'bold-cart-item' with item %}

        {% assign collection_url = item.product.collections.last.url %}
        {% if collection_url == '/collections/frontpage' or collection_url == blank %}
          {% assign collection_url = '/collections/all' %}
        {% endif %}

        <tr>
          <td class="hide-on-small prod-image" style="text-align: center;">
            <a href="{{ collection_url }}{{ item.url }}">
              <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
            </a>
          </td>
          <td class="name-pack">
            <div class="desktop-display-none display-image">
               <a href="{{ collection_url }}{{ item.url }}">
              	<img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
            	</a>
            </div>
            <div class="name-pack-naming">
            <h3>
              <a href="{{ collection_url }}{{ item.url }}">
              {{ item.title }}
              </a>
            </h3>

            {% assign properties_amount = item.properties | size %}
            {% if properties_amount > 0 %}
            <p>

              
{% for p in item.properties %}
                {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" %}
                  {{ p.first }}:
                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}
                  <br />
                {% endunless %}
              {% endfor %}
            </p>
            {% endif %}
            <div class="desktop-display-none">
              <p>{{ bold_item_price | money }}</p>
            </div>
            </div>
          </td>
          <td class="hide-on-small hide-money">{{ bold_item_price | money }}</td>

          <td class="table-quan">
                      <span class="cart-qty desktop-display-none">Quantity:</span>

            <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
          </td>
          <td class="mobile-pricing">{{ bold_item_line_price | money }}</td>
        </tr>
      {% endfor %}

      </tbody>

    </table>
  </div>

    <div class="cart-right" style="float: right; text-align: right;">
      <h3 class="gamma">Subtotal <em>{{ bold_cart_total_price | money }}</em></h3>
      {{ bold_ro_cart }}
      
      {% if customer.tags contains 'Wholesale' %}
        {% if cart.total_price < 10000 %}
            <p class="error">You need a minimum subtotal of $100 to complete a wholesale order. <br><a href="/collections/wholesale">Continue shopping</a> or increase Quantity and click "Update cart"</p>
      		<input type="submit" name="update" value="Update cart" />
        {% endif %}
        {% if cart.total_price > 9999 %}
      		<input type="submit" name="update" value="Update cart" />
          <span class="or">or</span>      
          <input type="submit" name="checkout" value="Check out" />    
          {% comment %}Paypal and Google checkout buttons
            {% if show_paypal and additional_checkout_buttons and show_paypal %}
            <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
            </div>
            {% endif %}
      	  {% endcomment %}
          {% endif %}
      {% else %}
      		<input type="submit" name="update" value="Update cart" />
        <span class="or">or</span>      
        <input type="submit" name="checkout" value="Check out" />    
        {% comment %}Paypal and Google checkout buttons
          {% if show_paypal and additional_checkout_buttons and show_paypal %}
          <div class="additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons }}
          </div>
          {% endif %}
      {% endcomment %}
      {% endif %}
    </div>

    {% comment %}
    For the special instructions to be submitted with order,
    we need to use a name attribute set to 'note'.
    {% endcomment %}
    <div class="cart-left" style="float: left; width: 100%; max-width: 400px;">
      <textarea style="border: 1px solid #ccc; border-radius: 3px; height: 136px;" name="note" placeholder="Any special instructions?">{{ cart.note }}</textarea>
    </div>

  </form>
</div>

{% else %}

<div class="cart-empty" style="padding: 1em 1em 1.25em; margin: 0 auto; max-width: 450px; border: 2px solid #e6e6e6; border-radius: 5px; text-align: center;">
  <strong>This cart is currently empty. Let's fix that.</strong>
  {% if customer.tags contains 'Wholesale' %}
  <a style="display: inline-block; background-color: #db7761; color: #ffffff; padding: .25em .75em; border-radius: 3px; margin-top: .5em;" href="/collections/wholesale">Choose your favorite type of Rasa</a>
  {% else %}
  <a style="display: inline-block; background-color: #db7761; color: #ffffff; padding: .25em .75em; border-radius: 3px; margin-top: .5em;" href="/collections/all-products">Choose your favorite type of Rasa</a>
  {% endif %}
</div>

{% endif %}


<footer class="subfooter" style="text-align: center;padding: 2em 1em 1em;font-size: 14px;font-style: italic;color: #888;">© wearerasa.com - All rights reserved.</footer>

<script>
  
  window.onload = function() {

  var addattr = document.querySelector(".elm_pos_0"); 
	addattr.setAttribute("name", "checkout");
    
  }
  
</script>