{%- include 'bold-ro' -%}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}
<meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
<meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

<section class="hero-product">
  {% if product.handle == "whole-rasa-koffee-8-oz" %}
  <div class="container" style="background-image: url({{ 'hero-image@2x.jpg' | asset_url }});">
  {% elsif product.handle == "ground-rasa-koffee-8-oz" %}
  <div class="container" style="background-image: url({{ 'hero-image@2x.jpg' | asset_url }});">
  {% else %}
  <div class="container" style="background-image: url({{ 'hero-image@2x.jpg' | asset_url }});">
  {% endif %}
    <div class="hero-content">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
    	<path fill="#D7D7D7" fill-rule="evenodd" d="M21.939 14.5c-.6-.42-.775-.242-1.456-.339a1.274 1.274 0 0 1-.483-.16V14h4c-.04.197-.096.363-.165.5.07.137.125.303.165.5H20.001 20c.14-.084.3-.136.483-.161.68-.097.855.081 1.456-.339zm-4.974 8.827c-.098.32-.406.56-.965.673v-4c.085.137.135.301.162.483.101.707-.096.868.392 1.53l.013.018a21.6 21.6 0 0 1-.098-.38c-.456-1.825-.598-3.392-.343-3.651.342.088.95 1.521 1.405 3.346.456 1.826.598 3.394.343 3.654-.226-.058-.57-.709-.909-1.673zM8.062 14.5c.6.418.775.241 1.455.338.183.028.345.077.483.16L9.997 15H6a1.97 1.97 0 0 1 .166-.5A1.97 1.97 0 0 1 6 14h3.997l.003.001c-.138.083-.3.133-.483.16-.68.098-.854-.079-1.455.339zm8.505-6.532a3.815 3.815 0 0 1-.013.018c-.488.663-.29.824-.392 1.531A1.262 1.262 0 0 1 16 10V6c.56.114.867.353.965.673.339-.964.683-1.615.91-1.673.254.26.112 1.828-.344 3.654-.456 1.825-1.063 3.258-1.405 3.346-.255-.26-.113-1.826.343-3.652a21.6 21.6 0 0 1 .098-.38zM26.82 14.5A1.357 1.357 0 0 1 27 15h-2v-.001c.029-.181.092-.352.182-.499a1.376 1.376 0 0 1-.182-.499V14h2a1.357 1.357 0 0 1-.18.5zm-24.637 0a1.357 1.357 0 0 1-.166-.417C2.01 14.055 2.004 14.028 2 14h2c-.03.182-.092.353-.182.5.09.147.153.318.182.5H2c.004-.028.01-.055.016-.083.034-.155.091-.295.166-.417zm6.613-8.56c-.21.134-.452.045-.62-.264-.234-.432-.233-1.131 0-1.566l.031-.052.04-.02c.32-.159.648.192.733.783.062.42-.018.851-.184 1.118zM4.82 8.98c-.59-.086-.94-.415-.782-.735a.638.638 0 0 1 .02-.04.951.951 0 0 0 .054-.03c.431-.234 1.133-.234 1.564.001.309.167.396.41.265.618-.27.167-.699.247-1.121.185zm9.223-5.718c-.178-.543.214-1.101.875-1.247.027-.006.053-.01.082-.015v2c-.449-.072-.832-.349-.957-.738zm2.039-1.247c.662.146 1.053.703.875 1.248-.126.387-.508.665-.956.737H16V2c.028.004.056.01.082.015zm4.123 3.925c-.167-.268-.245-.7-.184-1.12.085-.591.413-.94.735-.782a.273.273 0 0 1 .038.022.85.85 0 0 1 .03.05c.235.433.234 1.134 0 1.564-.167.31-.41.4-.619.266zm4.974 3.04c-.421.06-.852-.018-1.12-.187-.132-.208-.044-.45.263-.617.434-.235 1.133-.235 1.565 0l.053.03a.416.416 0 0 0 .023.039c.156.32-.194.649-.784.734zM8.795 24.06c.166.268.246.698.184 1.12-.085.59-.414.941-.734.781a1.265 1.265 0 0 0-.039-.02 2.33 2.33 0 0 1-.03-.051c-.234-.435-.235-1.134 0-1.566.167-.308.408-.398.619-.263zM4.82 20.02c.422-.06.851.02 1.121.186.131.208.044.451-.265.618-.431.235-1.133.235-1.564 0a1.008 1.008 0 0 0-.053-.03.637.637 0 0 1-.021-.039c-.158-.32.193-.649.782-.734zm9.223 5.718c.125-.389.508-.666.957-.738v2c-.029-.005-.055-.009-.082-.015-.66-.146-1.053-.704-.875-1.247zm2.039 1.246A.892.892 0 0 1 16 27v-2h.001c.448.072.83.35.956.737.178.545-.213 1.102-.875 1.247zm4.123-2.924c.21-.133.452-.044.62.266.233.43.234 1.13 0 1.564l-.031.05a.29.29 0 0 1-.038.022c-.322.158-.65-.19-.735-.782-.061-.42.017-.852.184-1.12zm4.974-4.04c.59.086.94.414.784.735a.425.425 0 0 0-.023.04l-.053.029c-.432.235-1.131.235-1.565 0-.307-.167-.395-.409-.263-.617.268-.169.699-.248 1.12-.186zM10.064.909c.251-.66.725-.281.89-.112.094-.295.4-1.052.8-.708.598.515-.049 3.469-.325 3.912-.36-.132-1.74-2.108-1.365-3.092zM4.001 5.199c.034-.427.532-.482.715-.481.001-.184.055-.681.482-.717.639-.05.888 1.635.776 1.973-.339.113-2.025-.137-1.973-.775zM.088 11.755c-.345-.4.414-.707.707-.801-.168-.164-.549-.64.112-.89.984-.375 2.962 1.003 3.093 1.365-.44.276-3.398.923-3.912.326zM18.571 4c-.276-.446-.924-3.399-.325-3.912.4-.343.705.409.8.706.165-.171.638-.547.89.112.375.984-1.003 2.957-1.365 3.094zM26 11.429c.132-.36 2.11-1.74 3.095-1.365.659.252.28.726.112.89.296.095 1.048.4.705.8-.513.598-3.47-.049-3.912-.325zm-1.974-5.455c-.112-.34.137-2.023.775-1.973.43.034.483.534.482.716.184.001.682.054.716.482.05.638-1.635.888-1.973.775zM10.064 29.092c-.376-.984 1.004-2.96 1.365-3.092.276.443.923 3.397.325 3.912-.4.344-.706-.413-.8-.709-.165.17-.639.55-.89-.11zm-6.063-4.291c-.052-.638 1.634-.888 1.973-.775.112.338-.137 2.023-.776 1.973-.427-.036-.48-.533-.482-.716-.183 0-.681-.055-.715-.482zM.088 18.245c.514-.597 3.473.05 3.912.326-.13.362-2.109 1.74-3.093 1.365-.66-.25-.28-.726-.112-.89-.293-.094-1.052-.4-.707-.8zM18.571 26c.362.137 1.74 2.11 1.365 3.094-.252.66-.725.283-.89.112-.095.297-.4 1.05-.8.706-.599-.513.05-3.467.325-3.912zM26 18.571c.441-.276 3.4-.923 3.912-.326.343.4-.41.706-.705.801.169.165.547.638-.112.89-.985.375-2.963-1.005-3.095-1.365zm-1.974 5.455c.338-.113 2.023.137 1.973.775-.034.428-.532.48-.716.482 0 .182-.053.681-.482.716-.638.05-.887-1.634-.775-1.973zM11.7 10.608c-.356-.64-.296-.896-.878-1.298-.82-.57-1.118-1.391-.465-2.221.847-.36 1.217.406 1.166 1.664-.036.892.155.95.38 1.693.06.193.095.376.098.554a1.339 1.339 0 0 1-.3-.392zm-2.184-.121C7.953 8.927 6.885 7.43 7.01 7.01c.42-.125 1.918.944 3.478 2.505 1.558 1.56 2.627 3.058 2.502 3.475-.421.127-1.915-.942-3.475-2.503zm-.763 1.035c-1.256.052-2.022-.316-1.664-1.167.831-.652 1.653-.353 2.222.467.402.582.657.523 1.299.878.165.091.298.19.391.3a1.914 1.914 0 0 1-.552-.097c-.744-.227-.802-.416-1.696-.38zm3.717-2.87c-.456-1.826-.599-3.393-.343-3.652.341.088.95 1.522 1.406 3.348.455 1.824.597 3.392.343 3.652-.342-.089-.95-1.52-1.406-3.348zm-4.121 4.879C6.522 13.074 5.086 12.467 5 12.126c.258-.256 1.827-.113 3.653.343 1.825.456 3.26 1.064 3.347 1.405-.257.255-1.826.113-3.652-.343zM15 10a1.242 1.242 0 0 1-.163-.485c-.101-.705.098-.868-.393-1.53-.688-.934-.63-1.743.556-1.985v4zm4.18-.692c-.582.402-.523.66-.878 1.3-.093.167-.193.3-.302.392.003-.177.04-.362.097-.553.227-.742.417-.8.381-1.694-.05-1.259.317-2.022 1.167-1.665.651.832.355 1.65-.465 2.22zm-2.17 3.682c-.125-.421.943-1.918 2.504-3.476 1.559-1.56 3.054-2.629 3.476-2.504.125.42-.945 1.916-2.504 3.476-1.56 1.562-3.055 2.628-3.476 2.504zm4.642.54c-1.828.457-3.395.6-3.652.344.084-.34 1.52-.948 3.346-1.405 1.827-.457 3.394-.598 3.654-.343-.086.34-1.52.95-3.348 1.405zm-.405-2.007c-.892-.037-.95.154-1.694.38A1.957 1.957 0 0 1 19 12a1.33 1.33 0 0 1 .393-.3c.64-.357.895-.298 1.298-.88.57-.818 1.393-1.116 2.22-.466.359.85-.404 1.22-1.664 1.169zm-9.548 7.869c.092-.166.19-.301.301-.392a2.03 2.03 0 0 1-.097.554c-.226.743-.417.8-.38 1.693.05 1.259-.32 2.023-1.167 1.664-.653-.83-.355-1.65.465-2.22.582-.403.522-.658.878-1.3zm-2.184.121c1.56-1.561 3.054-2.63 3.475-2.503.125.417-.944 1.914-2.502 3.475-1.56 1.561-3.058 2.63-3.478 2.505-.126-.42.943-1.916 2.505-3.477zm-.763-1.035c.894.035.952-.154 1.696-.38.192-.061.375-.096.552-.098-.093.11-.226.209-.391.3-.642.355-.897.296-1.3.878-.568.82-1.39 1.12-2.22.467-.359-.85.407-1.219 1.663-1.167zm3.717 2.87c.456-1.827 1.064-3.26 1.406-3.348.254.26.112 1.828-.343 3.652-.456 1.826-1.065 3.26-1.406 3.348-.256-.259-.113-1.826.343-3.652zm-4.121-4.879c1.826-.456 3.395-.599 3.652-.343-.086.34-1.522.949-3.347 1.405-1.826.456-3.395.598-3.653.343.086-.34 1.522-.948 3.348-1.405zM15 20v4c-1.187-.242-1.244-1.05-.556-1.985.491-.663.292-.825.393-1.53A1.24 1.24 0 0 1 15 20zm4.18.692c.82.57 1.116 1.388.465 2.22-.85.357-1.218-.406-1.167-1.665.036-.893-.154-.952-.381-1.694A2.049 2.049 0 0 1 18 19c.11.092.21.225.302.393.355.639.296.897.878 1.299zm-2.17-3.682c.42-.124 1.917.942 3.476 2.504 1.56 1.56 2.629 3.055 2.504 3.476-.422.125-1.917-.943-3.476-2.504-1.56-1.558-2.63-3.054-2.504-3.476zm4.642-.54c1.828.455 3.262 1.063 3.348 1.404-.26.255-1.827.114-3.654-.343-1.825-.457-3.262-1.066-3.346-1.405.257-.256 1.824-.113 3.652.343zm-.405 2.007c1.26-.05 2.023.32 1.664 1.169-.827.65-1.65.352-2.22-.467-.403-.581-.659-.522-1.298-.878-.169-.092-.301-.19-.393-.301.177.002.362.038.553.097.744.226.802.417 1.694.38z"></path>
		</svg>
      {% if product.handle == "whole-rasa-koffee-8-oz" %}
      <h1>Love in a cup</h1>
      <hr>
      <p>There's some je ne sais quoi about handling whole herbs. It slows you down. For a moment, you remember that these are plants. Somewhere in your subconscious flashes a memory of how you feel so calm and connected when in Nature.</p>
      {% endif %}
      {% if product.handle == "ground-rasa-koffee-8-oz" %}
      <h1>Love in a cup</h1>
      <hr>
      <p>There's some je ne sais quoi about handling whole herbs. It slows you down. For a moment, you remember that these are plants. Somewhere in your subconscious flashes a memory of how you feel so calm and connected when in Nature.</p>
      {% endif %}
      <span class="hero-sub">Share the love</span>
      <div class="grid-social">
        <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://rasakoffee.com{{ product.url }}&t={{ product.title }}" class="social-facebook">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="39" viewBox="0 0 19 39">
            <path fill="#ffffff" fill-rule="nonzero" d="M18.613.443h-6.166c-3.662 0-7.732 1.535-7.732 6.835.019 1.845 0 3.613 0 5.603H.481v6.728h4.366v19.37h8.021V19.48h5.295l.479-6.618h-5.913s.016-2.946 0-3.8c0-2.093 2.184-1.974 2.312-1.974 1.042 0 3.059.003 3.578 0V.442h-.006v.001z"/>
          </svg>
        </a>
        <a target="_blank" href="http://twitter.com/share?text=Delicious: {{ article.title }}&amp;url=http://rasakoffee.com{{ product.url }}" class="social-twitter">
          <svg style="margin-left: -26px;" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><defs><linearGradient id="a" x1="49.999%" x2="49.999%" y1="0%" y2="100.001%"><stop offset="0%" stop-color="#4BD0EF"/><stop offset="100%" stop-color="#29AAE1"/></linearGradient></defs><g fill="none"><path fill="url(#a)" d="M48 42c0 3.313-2.687 6-6 6H6c-3.313 0-6-2.687-6-6V6c0-3.313 2.687-6 6-6h36c3.313 0 6 2.687 6 6v36z"/><path fill="#FFF" d="M40.23 14.74c-1.12.496-2.322.832-3.587.983 1.29-.773 2.28-1.998 2.747-3.456-1.206.716-2.543 1.236-3.968 1.516-1.14-1.214-2.763-1.972-4.56-1.972-3.45 0-6.246 2.798-6.246 6.25 0 .49.055.965.16 1.423-5.19-.26-9.794-2.748-12.875-6.527-.536.923-.844 1.996-.844 3.14 0 2.168 1.103 4.08 2.78 5.2-1.025-.032-1.988-.313-2.83-.78v.078c0 3.027 2.152 5.55 5.01 6.125-.525.143-1.076.22-1.646.22-.404 0-.795-.04-1.177-.11.795 2.48 3.102 4.285 5.835 4.336-2.138 1.676-4.832 2.675-7.758 2.675-.504 0-1.002-.03-1.49-.09 2.764 1.775 6.047 2.81 9.575 2.81 11.49 0 17.774-9.52 17.774-17.774 0-.27-.008-.54-.02-.808 1.223-.885 2.283-1.985 3.12-3.238z"/></g></svg>
        </a>
      </div>
    </div>
  </div>
</section>


    
<section class="product-morphing-pinned" id="morphing-pinned">
  <div class="container">
    <div class="product-container">
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

      {% for image in product.images %}
      <div class="product-item">
        <a href="{{ image | img_url: '1024x1024' }}">
          <img src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
        </a>
      </div>
      {% endfor %}

    </div>
    <div class="slideshow-nav">
      <span class="slick-prev"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="29" viewBox="0 0 18 29">
        <path fill="#AEAEAE" fill-rule="evenodd" d="M18 14.5L2.88 0 0 2.762 12.24 14.5 0 26.238 2.88 29z"/>
        </svg>
      </span>
      <span class="slick-next"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="29" viewBox="0 0 18 29">
        <path fill="#AEAEAE" fill-rule="evenodd" d="M18 14.5L2.88 0 0 2.762 12.24 14.5 0 26.238 2.88 29z"/>
        </svg>
       </span>
    </div>
  </div>
</section>

<section class="product-morphing-side" id="side-1">
  <div class="container">
    <div class="content">
      <h2>{{ product.title }}</h2>

      <div class="rating">
        <div class="yotpo bottomLine"
         style="display:inline-block"
         data-product-id="{{ product.id }}">
        </div>
      </div>
      
      {% assign description_top = product.metafields.description_top %}
      {% assign key = 'leadin' %}
      {{ description_top['leadin'] }}
      
      <form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data"> 
{% if product.available %}{% include 'subscription-product' %}{% endif %} 
        
      <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="delta">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        <p>
          {% assign variant = product.selected_or_first_available_variant %}
          {% if product.compare_at_price > product.price %}
          <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
          <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
          {% else %}
          <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
          {% endif %}
        </p>
      </div>
        <span class="product-stock">
            {% if product.available %}
            <span class="product-in-stock">In Stock</span>
            {% else %}
            <span class="product-out-stock">Out of Stock</span>
            {% endif %}
        </span>
      
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}       

      
      <div class="product-quantities">  
        <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
          <select id="product-select" name="id" data-productid="{{product.id }}">
          {% for variant in product.variants %}
            <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money }}
            </option>
          {% endfor %}
          </select>
        </div>
		<div class="product-quantity">
        	<label>Quantity:</label>
        	<input min="1" type="number" id="quantity" name="quantity" value="1" />
        </div>
      </div>  
      <div class="ro_widget"></div>
        
      <div id="product-add">

        <input type="submit" name="add" id="add" class="button-red addtocart" value="{{ add_to_cart | escape }}">
      </div>  
      </form>
      
      <div class="smart-tabs-wrapper">{% include 'bs-tabs' %}</div>
      
      <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
      
      
      <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
      
    </div>
  </div>
</section>

<section class="grid-shop">
  <div class="container">
    {% for product in collections['all'].products %}
      {% include 'product-grid-item' with products_per_row %}
    {% else %}
      <p>There are no products in this view.</p>
    {% endfor %}
  </div>
</section>

{% include 'narrative-cta' %}






<script>
  
var selectCallback = function(variant, selector) {

  if (variant) {
    
    // Swap image.
    if (variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('.product-photo-container img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    
    // Selected a valid variant that is available.
    if (variant.available) {
          
      // Enabling add to cart button.
      jQuery('#add').removeClass('disabled').prop('disabled', false).val({{ add_to_cart | json }});
    
      // If item is backordered yet can still be ordered, we'll show special message.
      if (variant.inventory_management && variant.inventory_quantity <= 0) {
        jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
        jQuery('#backorder').removeClass("hidden");
      } else {
        jQuery('#backorder').addClass("hidden");
      }
      
    } else {
      // Variant is sold out.
      jQuery('#backorder').addClass('hidden');
      jQuery('#add').val({{ sold_out | json }}).addClass('disabled').prop('disabled', true);       
    }
    
    // Whether the variant is in stock or not, we can update the price and compare at price.
    if ( variant.compare_at_price > variant.price ) {
      jQuery('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
    } else {
      jQuery('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
    }        

  } else {
    // variant doesn't exist.
    jQuery('#product-price').empty();
    jQuery('#backorder').addClass('hidden');
    jQuery('#add').val({{ unavailable | json }}).addClass('disabled').prop('disabled', true);
  }

};
  
jQuery(function($) {

  new Shopify.OptionSelectors('product-select', { product: {%- include 'bold-product', output: 'json' -%}, onVariantSelected: selectCallback, enableHistoryState: true });
  
  // Add label if only one product option and it isn't 'Title'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

});

Shopify.Image.preload({{ product.images | json }}, 'grande');
Shopify.Image.preload({{ product.images | json }}, '1024x1024');

</script>
    
    